[2017-10-25 14:37] K232 opened #292 "Title bar does not show Back-Button anymore"
Hi all,
I'm using Grial 1.5 and could not update in my project, so I hope I still get support for release 1.5.

I'm not sure whether it's related to iOS 11 but I haven't seen it before and on Android it's working fine so the problem probably exists since upgrade to iOS 11: The "Back"-Button in the Title bar is not shown in iOS anymore. The functionality itself does work, so I could click on the bl

[2017-10-25 14:39] pboisso commented on #292
Got the same behaviour here on iOS11.  It looks like the icon is the same color than the header background.

[2017-10-25 14:40] K232 commented on #292
Any idea how to change the icon (color) ?

[2017-10-25 14:41] pboisso commented on #292
Not found it yet, hoping for Grial to help as well.  Thanks for opening this issue.

[2017-10-25 14:46] K232 commented on #292
OK, so let's hope together :-) Don't know whether this does help for you (at least it did not help for me because I already had this key in my info.plist) [App icons missing after upgrading to iOS 11/Xamarin](https://blog.rthand.com/post/2017/10/17/app-icons-missing-after-upgrading-to-ios-11-xamarin.aspx)

[2017-10-25 15:03] pboisso commented on #292
Sounds to me like there might be something missing in Appearance.cs

[2017-10-25 16:03] jpbrocca commented on #292
Hello @K232 and @pboisso, how are you guys?
This issue is just a matter of colors so as @K232 correctly pointed you can still click and get back to the previous page.

Check the following link for a workaround:
https://github.com/UXDivers/Grial-UI-Kit-Support/issues/254

Let me know how it goes.

Best,
JP

[2017-10-25 16:33] jpbrocca commented on #291
Hi @qaliwebguru,
The conjunction of a responsive helper an `artina:Translate` is not supported, however, you can simply achieve what you need using two labels and making them visible through a responsive helper:

[code]

To make code more legible/maintainable I just moved the other styling properties to a common `<Style>` which you can add to your Page's resources:

[code]

Best,
JP

[2017-10-25 16:36] qaliwebguru commented on #291
Thanks a lot.

[2017-10-25 16:38] jpbrocca commented on #291
You are welcome!

Please, remember to close the issues you have opened if the proposed solution worked for you.
We need help to keep things tidy :)

Thanks in advance!
JP

[2017-10-25 16:39] jpbrocca commented on #290
Hi @wiltwitt, how are you?

We are currently working on it :)

Best,
JP

[2017-10-25 16:40] #291 closed

[2017-10-25 16:43] jpbrocca commented on #283
Hi @rmoquin, how are you?
Sorry for the late reply on this.

We are currently working on supporting .NET Standard 2.0 on Grial.
Can you let me know if you are working on Windows or Mac?

Regards and thanks,
JP

[2017-10-25 16:50] wiltwitt commented on #290
Sweet, when do you think? months or weeks?

[2017-10-25 16:51] jpbrocca commented on #290
Weeks ;)

[2017-10-25 17:28] qaliwebguru opened #293 "Margin & padding with responsive helper"
Is it possible to do something like this?

`<Grid Grid.Row="0" Grid.ColumnSpan="2"  Margin="{
		artina:OnOrientationDouble
			PortraitPhone=16,0,0,10,
                                                                  LandscapePhone=18,0,0,10,
                                                                  PortraitTablet=20,0,0,10,

[2017-10-25 17:38] jpbrocca commented on #293
Yes

[2017-10-25 17:49] #187 closed

[2017-10-26 05:51] MichelMatthey opened #294 "Splash screen with Localised text ?"
I need to be able to add some text to the splash screen and I need to use i18 to translate it before it gets there, fairly simple but I can't seem to see where and how it is done please ?

[2017-10-26 07:41] qaliwebguru commented on #293
Thanks but i don't think it works. There is definitely some issue with this.

`<Grid Grid.Row="0" Grid.ColumnSpan="2"  Margin="{ artina:OnOrientationDouble PortraitPhone=0,10,0,0, LandscapePhone=0,10,0,0, PortraitTablet=0,50,0,0, LandscapeTablet=0,50,0,0 }" >`

The margin i am looking for on Tablet isn't showing.

However, it is interesting to mentions that the first value (if given) probably is p

[2017-10-26 07:47] qaliwebguru opened #295 "View first & ViewModel navigation"
We merged Grial with template taken from https://github.com/dotnet-architecture/eShopOnContainers/tree/dev/src/Mobile which uses viewmodel first navigation.

We are going to use Grial Main Menu. Is there any way that we can transform Grial Main Menu so that it should work with ViewModel First navigation system.

Thanks

[2017-10-26 08:27] K232 commented on #292
Brillant JP! Fixed it for me. Many thanks for fast support!

[2017-10-26 08:27] #292 closed

[2017-10-26 09:29] #272 closed

[2017-10-26 09:30] #284 closed

[2017-10-26 09:31] #289 closed

[2017-10-26 11:18] jpbrocca commented on #294
Hi @MichelMatthey,

The splash screen provided with Grial only supports an image. So if you have the different localized images and you follow this guideline:

https://developer.xamarin.com/guides/xamarin-forms/advanced/localization/#Localizing_Platform-Specific_Elements

...you should be able to display the right splash image (with its localized texts inside).

Hope that helps.

Regards
JP

[2017-10-26 12:20] MichelMatthey commented on #294
Hi,
No, this doesn't help as I am already using the translation from the PCL but here it is adding translated texts to the Splash screen which I need. The splash screen is an xml file in the Android and IOS implementations, and as such it doesn't seem to allow for anything else but images.
Can you please give me an example (code) on how I can:1) Add a fixed piece of text below my splash image2) Ho

[2017-10-26 12:24] MichelMatthey commented on #294
<img width="137" alt="splash" src="https://user-images.githubusercontent.com/7455699/32052679-c4065b1e-baa4-11e7-814b-db779efe973d.png">

<img width="218" alt="currentsplashscreen" src="https://user-images.githubusercontent.com/7455699/32052611-92d9c03a-baa4-11e7-947e-a0b53f56df27.png">
<img width="218" alt="desiredsplashscreen" src="https://user-images.githubusercontent.com/7455699/32052612-93961

[2017-10-26 12:24] #294 closed

[2017-10-26 13:41] QamarAftab opened #296 "Hambuger Menu"
![untitled](https://user-images.githubusercontent.com/32302413/32056071-2551cad4-ba7d-11e7-915e-c1faba2af697.png)
Hambuger Menu Icon Not Display in IOS .. I Also check your Full version . but nothing is display .

[2017-10-26 14:12] logikonline opened #297 "Using AnyHUD and Acr.Dialog results in wide dialogs"
I use Acr.Dialog in many projects, the ShowLoading stretches instead of being normally formatted and it only seems to be an issue when I use the Grial library.  I cannot seem to find where it may be causing the issue.

UserDialogs.Instance.ShowLoading();

Can you assist in seeing what Style may be causing the stretch.

https://www.screencast.com/t/PxzTb5JSp

[2017-10-26 16:10] jpbrocca commented on #297
Hi @logikonline, how are you?

Any chance you could send me by email your code or project details to:

![image](https://user-images.githubusercontent.com/15996999/32063926-d9be331a-ba4e-11e7-93bc-b0892f248528.png)

That way will be faster to find the cause and provide a fix.

Regards and thanks,
JP

[2017-10-26 16:11] jpbrocca commented on #292
You are welcome!

[2017-10-26 16:12] jpbrocca commented on #296
Hi @QamarAftab, how are you?

Please check the following link for a workaround:
#254

I am closing this issue to keep things tidy, but in case you could have more issues related, please re-open.

Best,
JP

[2017-10-26 16:12] #296 closed

[2017-10-26 16:23] jpbrocca commented on #293
Hi @qaliwebguru, how are you?

You are absolutely right...my bad.
The problem is that the `Margin` type is `Thickness`.
I assumed that providing each value like this should work, but it is not the case:
[code]

The good news is thanks to your issue we have added the `OnResponsiveThickness` responsive helper, however, it will take a few days to be added and released to `artina` dlls.

Meanwhile, wh

[2017-10-26 18:24] logikonline opened #298 "Xamarin Forms Intermediary Splash Page request"
a lot of us have to preload routines that require an await to properly prep our apps during loading.  This cannot be done except in the OnAppearing routine for a form - which is fine but these operations often are used to check if the user is logged in and then load the correct screen - then display either welcome or a login page.

Many of us would like to do this during the displaying of the Spla

[2017-10-27 00:39] MichelMatthey opened #299 "Splash screen with Localised text ?"
Hi,

I need to be able to add some text to the splash screen and I need to use i18 to translate it before it gets there, fairly simple but I can't seem to see where and how it is done please ?

Can you please give me an example (code) on how I can:
1) Add a fixed piece of text below my splash image
2) How the translation works as this is not in the PCL where all my language resources are

Please s

[2017-10-27 02:17] jpbrocca commented on #299
Hi @MichelMatthey, it seems you accidentally closed your previous bug about the same issue? #294

[2017-10-27 03:03] MichelMatthey commented on #299
Yes, I thought someone else did... Anyway, can we get some answer please ?

[2017-10-27 03:29] jpbrocca commented on #299
Hi @MichelMatthey ,
Xamarin Forms does not have any functionality to add a splash screen, you must do this per platform.
Normally you want the splash to be displayed fast and to be static, otherwise it will make no sense to delay things more to show the splash itself.
The most common approach is to show an image which will be easy and fast to be displayed while your app bootstraps. In that sense,

[2017-10-27 08:35] MichelMatthey commented on #299
Can you please show us sample code that shows how it is done in both Android and IOS ?

Support is what we are after here, I can google other things but this one is part of the Grial pages (And is somehow not documented!) so we need to know (And be given proper instructions and examples) how it is done, please provide a sample with dummy text and dummy translated text ? Just look at my screenshots

[2017-10-27 08:56] qaliwebguru commented on #293
Thanks a lot. Good to know that you will add new responsive helper. Great.

I wrote following code in my viewmodel and bind the margin but it doesn't have any impact. Not sure why?

<Grid Margin"{Binding SliderGridMargin}"></Grid>
I also tried
<Grid Margin="{Binding SliderGridMargin, Mode=TwoWay}"></Grid>

`private void Orientation_OrientationChanged(object sender, EventArgs e)
        {

[2017-10-27 12:09] logikonline commented on #299
jpbrocca - actually if you did my previous issue reported, it would enable MichelMatthey to be able to put the localization immediately after the splash screen shows by transitioning it to a page for us to manage.

It really would help a lot of us out.

[2017-10-27 12:11] jpbrocca commented on #293
Hi @qaliwebguru, how are you?
The update is ready, to use it you must allow your visual studio to see the pre release packages, then update to `2.5.14-RC2` version.

Then, in your xaml you will be able to use the new responsive helper like this:
[code]

Let me know how it goes.

Best,
JP

[2017-10-27 12:29] MichelMatthey commented on #299
Can you please spell it out, just show us the changes required to:
1) Add a bit of static text below the image
2) Change it so it gets translated

These are very small changes but we do need support as it is not obvious, please send us a sample bit of code (xml file changes + translation code + whatever else is required) as we can't work it out with what you have given us!

Please do not close thi

[2017-10-27 12:58] QamarAftab commented on #296
Thanx its Working :)

[2017-10-27 13:29] Fatihpk opened #300 "Custom Activity Indicator Page (CustomActivityIndicatorPage.xaml)"
How can i set the page at popup (CustomActivityIndicatorPage.xaml) and when the Page at the background is done loading make the CustomActivityIndicatorPage.xaml invisible again?

[2017-10-27 14:21] qaliwebguru commented on #293
Brilliant. Thanks a lot.

[2017-10-27 14:21] #293 closed

[2017-10-27 16:36] denfung opened #301 "TabControl iOS Tab not responding"
Hi Grial,

I am using TabControl iOS Tab for my app for both iPhone and Android phone.
I would like to provide the consistent view for both platform, hence only iOS Tab is used.

This control work well on iPhone but not on Android phone. With the Grial UI Sample (latest download from GooglePlay with RTL support) on Android Phone, the tab only response to the touch if it is done fairly quickly. If

[2017-10-27 19:11] jpbrocca commented on #301
Hi @denfung, how are you?

Could you provide more info about the device you are using to test Grial latest on Google Play? (android API version, device model, etc.).

Are you experiencing similar issues with your Grial project?
If that is the case, then please provide also info about the Xamarin Forms version you are using, Android version, etc.

Regards and thanks,
JP

[2017-10-28 11:53] LeoHere commented on #298
We don't provide anything to solve that particular problem.

The solution you propose is a good solution. If achieving a pixel perfect transition is too difficult it might be a better option to just display a page with an activity indicator until you are ready to show the first page.

Another option is to do this task before the `LoadApplication`. It seems possible. Still if the task takes too lon

[2017-10-28 12:05] qaliwebguru opened #302 "Two status bar"
Hi,

I have added Grial rootPage for navigation in my project. It is showing two status bars. Any clue why its doing it?

![image](https://user-images.githubusercontent.com/31895946/32134230-96268344-bbe0-11e7-88a7-37f8fa562b12.png)

[2017-10-28 12:08] LeoHere commented on #299
Localizing the splash screen is a platform specific thing. Unfortunately, I don't think it is possible to localize it by just adding some lines in the drawable. That would be great for sure :), but adding text to a drawable is not that easy, see [this](https://stackoverflow.com/questions/23299552/text-with-shapes-in-drawable-resource) and [this](https://stackoverflow.com/questions/21822526/can-we-

[2017-10-29 03:20] logikonline commented on #298
The other option is not possible, the one I proposed is the only one that will work for Xamarin Forms.  It would be a real value add to your library if you offered a Spash page template in the library to enable us to do this.

It would also solve the other individuals issue around localization since he could then support it after the initial load of the splash by adding the content to this interme

[2017-10-30 01:11] denfung commented on #301
Hi @jpbrocca,

Attach is the video recording (mov in zip file) on Samsung S4. Same happen to Samsung S5. Other model I have not test. Yes, this happen on the Grial project tool.

In the demostration, when press the tab and release qucikly (normal speed), I can the respond. If I press and hold it for awhile, the tab does not response.

[IMG_0774-small.zip](https://github.com/UXDivers/Grial-UI-Kit-S

[2017-10-31 03:14] jpbrocca commented on #301
Hi @denfung, how are you?
OK, it is clear now.
The tab control currently only reacts to click event which makes it look unresponsive when long press and release events occur.
We will be ASAP enhancing the UX by adding those events and the expected behavior.

Regards and thanks
JP

[2017-10-31 14:33] denfung commented on #301
Hi @jpbrocca,

Thanks for your confirmation.

Is there any workaround solution for this limitation for time being?

Thanks,
Dennis

[2017-10-31 16:04] qaliwebguru opened #303 "Grial App Icon positioning not working??"
Can you please have a look the following screenshot? The icons are dis positioned and badge circle is cut off from right and bottom.

The same issues is coming on Card View page.

I took screenshot from your App. I tested on S8+ & Nexus 4.

![screenshot_20171031-154634](https://user-images.githubusercontent.com/31895946/32234503-e89d021c-be54-11e7-8548-20d6a8c0b803.png)

[2017-10-31 16:14] jpbrocca commented on #301
Hi @denfung,

You are welcome.
Researching a little bit more I found this xamarin bug that could be related:
https://bugzilla.xamarin.com/show_bug.cgi?id=59863

You could try to upgrade to this pre version of Xamarin Forms and see if it improves:
https://github.com/xamarin/Xamarin.Forms/releases/tag/release-2.4.0-sr3

Let me know how it goes.

Best,
JP

[2017-10-31 16:16] jpbrocca commented on #303
Hi @qaliwebguru, how are you?

Wow, that is really weird.

Is this happening only on that screen or did you find the same issue on others?

Thanks,
JP

[2017-10-31 16:45] qaliwebguru commented on #303
Thanks for the reply. It is not happening all the time on all the devices. I see it working as well but some times we come across broken "Icon Category" & "Dashboard Page" as above in my attached screenshot. Its hard to tell you exact scenario but you can try like going off the screen and then opening again... But we definitely see this in your app installed from the play store and it is giving us

[2017-10-31 16:56] qaliwebguru commented on #303
Just to update you.

1- Badge issue is definitely is there if you check on S8+.
2- If you navigate to Icons Category page and then press home button and go to some other app and then press app stack button and select Grial app to open. The icon category page will show you that all the icons are moves up.

[2017-11-01 14:07] alexstrong29 commented on #254
We had this issue, and it almost feels like iOS was actually fixing something that made it appear broken. Our accent color was actually the same colour as the UIButtons but in previous versions of iOS they appeared white. So we did the opposite to the above and overrided the UIButton color instead to white

[code]

We added HeaderAccentColor to the ThemeColors class and it started working
{ "Heade

[2017-11-01 14:41] babernethy commented on #254
This is actually fixed in the latest version of the Nuget packages from UXDivers - was able to remove the workaround before publishing to AppStore recently.

[2017-11-01 15:00] alexstrong29 commented on #254
One of my colleagues said this but I couldn't see the issue was fixed. Unless my Nuget is not finding the update?
![capture](https://user-images.githubusercontent.com/10114151/32281008-74691bbc-bf15-11e7-8785-a05634288b17.PNG)

[2017-11-01 17:06] babernethy commented on #254
If you look on the "Updates" tab does a 2.5.x? show up? I don't have my development machine here ...

[2017-11-01 21:55] logikonline commented on #297
any update on this?

[2017-11-01 21:56] logikonline commented on #302
You appear to be placing a navigation page inside of a navigation page.

[2017-11-02 09:53] Fatihpk commented on #279
Can you pleaseee help me 😞 I am working for days now for changing this thing on your template:

I want a CustomActivityIndicator on each page and then after loading the data from the 'BindingContext = new ProductViewModel(_ProductId);' the CustomActivityIndicator must be invisible. I am working on this for weeks now :(

Can you please help me?

________________________________
Van: Leonardo Rodríg

[2017-11-02 15:56] southrock70 commented on #290
Great that this in the workings, any planned dates for .NET Standard support?

[2017-11-03 02:54] webmasterdevlin opened #304 "Gorilla Build Config Not Appearing"
Hi guys. The full demo can be built in Gorilla SDK, while the starter kit would not even though I aldready installed the Gorilla SDK Nuget in both in Android and iOS. I even copied the GorillaSdkHelper and Gorilla.json from the full demo., but still doesn't work.

Here are the screenshots of full demo that has Gorilla build config and the starter that doesn't have.
![capture1](https://user-images.

[2017-11-03 02:54] webmasterdevlin commented on #304
The Starter or bare-minimum project doesn't have the Gorilla build config. How can I fix it?

[2017-11-03 03:35] jpbrocca commented on #304
Hi @webmasterdevlin, how are you?

If you take a look at the docs:
http://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-previewing-grial-with-gorilla-player

...you will find info about how to download your Grial project with Gorilla SDK pre configured (even with the starter project).

Just check the download dropdown and you will find there is an option: **Grial Starter -

[2017-11-03 03:38] webmasterdevlin commented on #304
Thanks. But unfortunately, I don't have an access to that page. Only my boss. In addition, I already spent a lot of time in my current project.

Is there a way for me to include it in my existing project?

[2017-11-03 03:39] webmasterdevlin commented on #304
@jpbrocca , I appreciate your help. I hope it is possible. This will save me a lot of time.  Thank you.

[2017-11-03 03:58] jpbrocca commented on #304
Did you check the Gorilla SDK docs?
https://github.com/UXDivers/Gorilla-Player-Support/wiki/Gorilla-SDK

Probably you missed a step while copying from full sample?

Hope that helps!
JP

[2017-11-03 04:12] webmasterdevlin commented on #304
Copied this.
           FormsHelper.ForceLoadingAssemblyContainingType(typeof(UXDivers.Effects.Effects));

			_locale = Resources.Configuration.Locale;

            //			LoadApplication(new App());

            LoadApplication(UXDivers.Gorilla.Droid.Player.CreateApplication(
                this,
                new UXDivers.Gorilla.Config("Good Gorilla")
                    // Register Grial Shar

[2017-11-03 04:12] webmasterdevlin commented on #304
It says Additional SDK configuration needed on my screen.

[2017-11-03 04:16] webmasterdevlin commented on #304
Here's my AssemblyInfo.
[assembly: AssemblyTitle (AssemblyGlobal.ProductLine + " - " + "Grial Xamarin.Forms UIKit")]
[assembly: AssemblyConfiguration (AssemblyGlobal.Configuration)]
[assembly: AssemblyCompany (AssemblyGlobal.Company)]
[assembly: AssemblyProduct (AssemblyGlobal.ProductLine + " - " + "Grial Xamarin.Forms UIKit")]
[assembly: AssemblyCopyright (AssemblyGlobal.Copyright)]
[assembly: Xa

[2017-11-03 04:23] webmasterdevlin commented on #304
If I did it correctly, then perhaps my phone is the one that has a problem.

[2017-11-03 04:25] jpbrocca commented on #304
@LeoHere, can you help @webmasterdevlin?
Regards and thanks
JP

[2017-11-03 04:33] jpbrocca commented on #304
@webmasterdevlin but do you see the 'Gorilla' option on the Visual Studio dropdown then?

Are you running Grial with Gorilla SDK on your phone and you can't preview? If that is the case then this could be a connectivity issue and I can point you to the docs about troubleshooting that:
https://github.com/UXDivers/Gorilla-Player-Support/wiki/Troubleshooting-Connectivity

If not, then you have two op

[2017-11-03 04:39] webmasterdevlin commented on #304
Are you running Grial with Gorilla SDK on your phone and you can't preview?  Yes.

I'm seeing immediate changes on the text when I edit it. Is that the expected outcome?

However, I could not navigate while on the preview.

I can't also preview the Master Page. Only the Detail Page? Is there a special requirement in Master Page? Thanks for your help.

[2017-11-03 04:50] webmasterdevlin commented on #304
I copied this from the Full and pasted it to Starter not Gorilla ready.

public class MainActivity : FormsAppCompatActivity
    {
		private Locale _locale;

        protected override void OnCreate(Bundle bundle)
        {
			// Changing to App's theme since we are OnCreate and we are ready to
			// "hide" the splash
			base.Window.RequestFeature(WindowFeatures.ActionBar);
			base.SetTheme(Resourc

[2017-11-03 04:51] jpbrocca commented on #304
I am little bit confused now.

I guess you successfully made the proper changes to preview on your Grial Starter, right?
Gorilla SDK will allow you to preview your changes on your XAML pages and custom templates.

There is no navigation on Gorilla SDK, you just preview the XAML file you opened on Visual Studio.

[2017-11-03 04:52] webmasterdevlin commented on #304
Yeah. I think it is working now. Although I added some block of codes from the Full and hoping it will run better.

[2017-11-03 05:03] webmasterdevlin commented on #304
It stopped working when I added the directives. I guess what I saw earlier was the expected outcome. Thanks. I'll return back to the link you've sent me.

[2017-11-03 05:36] webmasterdevlin commented on #304
It's now working. Thanks.

[2017-11-03 10:06] LeoHere commented on #304
Ok, cool. Closing the issue now. Open a new one if you need to.

[2017-11-03 10:06] #304 closed

[2017-11-03 11:22] qaliwebguru commented on #303
and just to let you know some times it breaks the badge as well. You can see in second row. 14 is broken.

![screenshot_2017-11-03-10-48-38](https://user-images.githubusercontent.com/31895946/32371541-2d75c654-c089-11e7-831a-393edffc98d8.png)

[2017-11-03 17:14] jpbrocca commented on #297
Hi @logikonline, how are you?

Sorry for the delay on this.
I have sent you an email with the explanation about how to fix this issue, but I am going to leave it here in case someone else could have the same issue.

* Open the following file in your Android project:
[code]
* Find `AppTheme.Dialog` Style and change it to be:
[code]
   ...so it should be like the following:
   ![image](https://user-

[2017-11-03 17:14] #297 closed

[2017-11-03 17:16] jpbrocca commented on #302
Hi @qaliwebguru, how are you?

What @logikonline is pointing is correct, please make sure to use only one at a time.

Best,
JP

[2017-11-03 17:16] #302 closed

[2017-11-03 17:20] jpbrocca commented on #303
Hi @qaliwebguru,
thanks for the details.

I am trying to reproduce the issues you mentioned.
Can you let me know which flavor of Grial are you using? (i.e.: Grial Pro + RTL, Grial Standard, etc).
There are different combinations I need to test to make sure.

Also, can you let me know your:
- Xamarin Forms version
- Grial Version

Best regards and thanks,
JP

[2017-11-04 10:15] qaliwebguru commented on #303
Thanks for your reply.

1- Grial Pro + RTL
2- Latest version of Grial
3- xamarin forms version 2.4.0.282

[2017-11-04 15:20] denfung commented on #301
Hi @jpbrocca ,

I has tested with the lasted Xamarin Forms, it works better.
I mean is works better because it still not responding when press down longer. I guess this can't be help if it is using TapGestureRecognizer. The event just subside with long pressing.

Regards,
Dennis

[2017-11-04 18:34] foswha commented on #303
Hello, it happens with the Samsung S8 +, this image is from the downloaded application from google play

![23261837_1712205145491136_2020546327_o](https://user-images.githubusercontent.com/31733735/32408381-d03dcd56-c164-11e7-8fcc-5c6efa247568.png)

[2017-11-06 00:55] denfung opened #305 "Swipe to Delete on Android ListView"
Hi,

Looking at the Swipe and Delete function for ListView, I notice that it is not working for Android platform.

I am checking on Messages sample view from Grial.

Any idea?

Dennis

[2017-11-06 02:17] jpbrocca commented on #305
Hi @define, how are you?
Check the xamarin forms docs about ListView and context actions:
https://developer.xamarin.com/guides/xamarin-forms/user-interface/listview/interactivity/#Context_Actions

Only iOS supports swipe gesture.
On Android it works by performing a long press on your item.

Best,
JP

[2017-11-06 02:17] #305 closed

[2017-11-06 17:16] webmasterdevlin opened #306 "Floating Action Button"
Hi guys. Is there a floating action button that we can use in GrialUI?

[2017-11-07 02:18] MichelMatthey commented on #299
No, that doesn't help either, a solution is what we are after, not maybes and try this and try that...

You certainly shouldn't tell us what Apple wants, they don't dictate what 65% of the market does, they think they do but no they don't, Android (Google) is the one!

Don't worry I will place that stuff elsewhere on another page... Thanks anyway!

...Your competitors might offer a better support

[2017-11-07 04:37] logikonline commented on #299
@michelmatthey the solution I suggested is the correct way to do it. This enables you to allow the splash screen to show quickly and not localized in each platform. The transition to the Xamarin Forms splash page would then give you the ability to display the localized info seamlessly and offer additional features such as loading libraries and pages without triggering the timeout requirements for

[2017-11-07 09:11] qaliwebguru opened #307 "Urgent - Looking for help quickly if possible?"
## **Search bar is not coming on S7, S7 edge & S8+.**

"It is working on Moto 2, Google Pixel & IPhone and IPad"

I took following screenshot from your GrialKit App which i downloaded today.

![screenshot_20171107-085822](https://user-images.githubusercontent.com/31895946/32485498-8e17da3c-c39b-11e7-9631-65abea029049.png)

![screenshot_20171107-0901431](https://user-images.githubusercontent.com/31

[2017-11-07 09:35] jpbrocca commented on #307
Hi @qaliwebguru, how are you?

Are you testing on emulators (if so, which one you are using?)...or are you using real devices?

Best
JP

[2017-11-07 09:37] qaliwebguru commented on #307
Thanks for your quick response JP. I am testing on real devices.

[2017-11-07 09:42] jpbrocca commented on #307
Apparently this is a bug from android 7.
Take a look at the proposed fix:
https://bugzilla.xamarin.com/show_bug.cgi?id=43975

Try setting Search Bar with `HeightRequest="42"`.

Please let me know if it works with your phones (and also answer my previous question about your devices).

Thanks
JP

[2017-11-07 09:43] jpbrocca commented on #307
OK, it seems you replied while I was typing.
Thanks.
Let me know if setting the proposed workaround worked.

Best
JP

[2017-11-07 10:09] qaliwebguru commented on #307
yes works perfectly. Fantastic.

Actually i was using the "Native control" page as reference to do some stuff.

Great stuff.

Thanks a lot.

[2017-11-07 10:09] #307 closed

[2017-11-07 10:21] jpbrocca commented on #307
Great!

Best regards
JP

[2017-11-08 00:02] MichelMatthey commented on #299
All we wanted was to get a sample piece of code that works on IOS and Android, XAML forms or whatever, no can do so forget it, but that is not what we would call good support, anyone can do a "try this and try that or this But Apple says this etc" kind of response but that is not helpful at all, sample code and showing that you care enough to assist people who paid for a licence is what we were ac

[2017-11-08 00:05] MichelMatthey commented on #299
If you feel you can at last address this issue/question and show us some sample code that will work on IOS and Android please go ahead, much appreciated! Otherwise just close this ticket, Thanks!

[2017-11-08 01:33] jpbrocca commented on #299
Hi @MichelMatthey, how are you?

Could you send me an email to jpbrocca@uxdivers.com so we can coordinate a call?

Regards and thanks,
JP

[2017-11-08 02:47] MichelMatthey commented on #299
Hi JP,
Thanks for getting back to me, hopefully we can get to the bottom of this as the alternative solution of sticking the "Message of the Day" on another page instead of the splash screen doesn't make that much sense...

I am on Skype (Michel Matthey in Sydney, Australia) so call me anytime and I will respond if I am here. Note that in Sydney we are 10 hours ahead of GMT time.
Much appreciated

[2017-11-08 16:13] webmasterdevlin opened #308 "Keyboard is covering the UI in iOS?"
Hi. Is there a way in Grial to keep the keyboard from covering the UI in iOS?

[2017-11-08 16:15] jpbrocca commented on #308
Hi @webmasterdevlin, how are you?

Please check for a workaround:
https://github.com/UXDivers/Grial-UI-Kit-Support/issues/173

Best
JP

[2017-11-09 02:19] webmasterdevlin commented on #308
Thanks!

[2017-11-09 02:54] OpticNectar opened #309 "GridOptionsView does not update properly when there are no items"
I have an `ObservableCollection` in an object bound to the`artina:GridOptionsView`. When I update the object the`artina:GridOptionsView` does not update properly if there are no items in the `ObservableCollection`. It works properly if there are one or more items though.

**View:**
[code]

**Model:**
[code]

**ViewModel:**
[code]

[2017-11-09 06:55] mahmoudk-metwally opened #310 "Circle Button when expands loses circularity"
hi, i tried to create a circle button in a grid with a Label in the underneath row, but it changes from circle to rounded rectangle when the content of the next row expands, is the circle button guarantees circularity regardless of the resizing of its parent view? or there should be a workaround to achieve this?

[2017-11-09 10:39] pooran opened #311 "Android buttons text is all caps while iOS we can customize."

[2017-11-09 11:14] jpbrocca commented on #311
Hi @pooran, how are you?
Please take a look at #246.

Regards,
JP

[2017-11-09 11:14] #311 closed

[2017-11-09 11:21] jpbrocca commented on #310
Hi @mahmoudk-metwally , how are you?

It's difficult to diagnose your issue without seeing the code.
Probably if you add `VerticalOptions="Start"` it should work as expected.
If not, then please add your code to this issue.

Best
JP

[2017-11-09 11:23] jpbrocca commented on #308
You are welcome!

Closing the issue now.
Feel free to reopen as needed.

Best
JP

[2017-11-09 11:23] #308 closed

[2017-11-09 11:28] jpbrocca commented on #306
Hi @webmasterdevlin,

If you are asking about a button that would stay fixed in your UI by itself, then the answer is no.
However, you can use in your page any of the button styles on Grial and use a `<Grid>` layout to make te button stay on the same row as your content.

Regards,
JP

[2017-11-09 11:31] #275 closed

[2017-11-09 11:31] #286 closed

[2017-11-09 11:35] jpbrocca commented on #285
Closing this bug since it is not about Grial.
Please use  https://github.com/UXDivers/Gorilla-Player-Support

[2017-11-09 11:35] #285 closed

[2017-11-09 11:37] #263 closed

[2017-11-09 11:37] #277 closed

[2017-11-09 11:41] #261 closed

[2017-11-09 11:43] #260 closed

[2017-11-09 11:44] jpbrocca commented on #273
Closing issue since the user was called and his issues were fixed.

[2017-11-09 11:44] #273 closed

[2017-11-09 11:46] #248 closed

[2017-11-09 11:48] #241 closed

[2017-11-09 11:49] #239 closed

[2017-11-09 11:50] #238 closed

[2017-11-09 11:52] jpbrocca commented on #233
Check https://github.com/UXDivers/Grial-UI-Kit-Support/issues/293

[2017-11-09 11:52] #233 closed

[2017-11-09 11:55] jpbrocca commented on #234
Hi @Goldstrike,
I sent you by email with my results running your project and the issue could not be reproduced.
I am closing this issue now but feel free to reopen if needed.

Best
JP

[2017-11-09 11:55] #234 closed

[2017-11-09 11:56] #223 closed

[2017-11-09 11:56] #219 closed

[2017-11-09 11:57] #208 closed

[2017-11-09 12:00] #199 closed

[2017-11-09 12:01] #198 closed

[2017-11-09 12:04] #193 closed

[2017-11-09 12:06] #224 closed

[2017-11-09 12:10] #200 closed

[2017-11-09 12:13] #189 closed

[2017-11-09 12:14] #185 closed

[2017-11-09 12:15] #173 closed

[2017-11-09 12:15] #181 closed

[2017-11-09 12:16] #179 closed

[2017-11-09 12:17] #171 closed

[2017-11-09 12:20] #154 closed

[2017-11-09 12:21] #168 closed

[2017-11-09 12:22] #122 closed

[2017-11-09 12:23] #120 closed

[2017-11-09 21:59] foswha commented on #310
Could you provide an example in a lisview using a circular button? would be very helpful thanks

[2017-11-10 00:07] foswha commented on #306
Could you provide an example in a lisview using a circular button? would be very helpful thanks

[2017-11-10 00:28] webmasterdevlin commented on #306
Here it is. The button that you usually see in emails or chat applications.
![unnamed](https://user-images.githubusercontent.com/22025912/32636761-1eed18a4-c5f1-11e7-81f4-728bfa072615.png)

[2017-11-10 17:30] OpticNectar commented on #309
Is there any way to get this fixed or a workaround? It is causing a lot of issues with my app.

[2017-11-10 21:45] OpticNectar commented on #309
This seems to happen anytime the `artina:GridOptionsView` is set to an Observable collection that has items, and then the Observable collection is update to have no items. Please fix or give us a workaround ASAP. This is a HUGE issue and it's causing lots of problems with my app.

[2017-11-11 18:56] mahmoudk-metwally commented on #310
Thanx @jpbrocca , it's fixed now by separating the button and label in two stack layouts and by setting the VerticalOptions="Start" to the one that contains the circular button.

[2017-11-11 18:56] #310 closed

[2017-11-13 18:50] jpbrocca commented on #303
Hi @qaliwebguru, how are you?

We couldn't reproduce the bug exactly as you described in your steps, but at some point we get things with bad alignment too.

It seems this is caused by Xamarin Forms:
https://bugzilla.xamarin.com/show_bug.cgi?id=49311

The workaround is to change `VerticalTextAlignment` and `HorizontalTextAlignment` -on the problematic `<Label>`- to its counterpart using `VerticalO

[2017-11-13 18:59] jpbrocca commented on #306
Closing this issue now as it seems is not a bug.

Feel free to reopen if need.

Best,
JP

[2017-11-13 18:59] #306 closed

[2017-11-13 20:55] OpticNectar commented on #309
@jpbrocca Can anyone help with this or give me a good work around? This is causing a delay in the app until we can get this issue fixed.

[2017-11-13 21:54] dirivero commented on #309
Hi @OpticNectar.
Is this happening in Android or iOS? Does it throw an exception?

[2017-11-13 22:48] OpticNectar commented on #309
@dirivero It's happening with both.

To describe it a little better, basically I have a collection of objects in an `ObservableCollection` that i'm pulling from an API. The user is allowed to filter the results. If you filter the results and there are no objects in the `ObservableCollection`, then nothing happens and the previous items are still shown. If the results are more than 1, then they Upd

[2017-11-13 23:16] dirivero commented on #309
I've just tried that in both platforms and it seems to work:

![issue_309](https://user-images.githubusercontent.com/7670773/32754289-fe8b5880-c8ae-11e7-8e3a-3c6af21ba6a6.gif)

This just calls observableCollection.Clear() when CLEAR is pressed. Are you sure the collection is being cleared when there're no results in your filter?

Also, can you verify you have the latest version of our Artina nuget

[2017-11-13 23:34] OpticNectar commented on #309
@dirivero Try not calling `Clear()`, since that isn't what i'm doing. I'm just setting the collection to whatever is returned. So it would be setting it to and empty collection.

[2017-11-13 23:55] ferastaleb commented on #290
Hi, Any planned dates for .NET Standard support ?

[2017-11-14 02:19] dirivero commented on #309
Same result assigning an empty collection as long as you call the PropertyChanged event on the property that holds the collection after the assignment. That's needed since it's a brand new instance of an ObservableCollection, not the same that the GridOptionsView was observing.

Make sure the result is actually empty and that you are rising the PropertyChanged event.

If you want just send me the

[2017-11-14 03:56] OpticNectar commented on #309
@dirivero I'm setting the `ObservableCollection` itself to the new result. When I output the `Count` it's zero, but the grid still isn't updating. I tried `RaisePropertyChanged` for the `ObservableCollection`, but that doesn't do anything and I shouldn't have to since i'm directly assigning it. It's weird cause I don't have this issue with `ListView` or other grids i've tried.

[2017-11-14 03:58] OpticNectar commented on #309
@dirivero Let me know if you still can't replicate it and i'll build a sample project.

[2017-11-14 12:20] dirivero commented on #309
Sadly no. I tried removing the .Clear() call, and instead assign an empty collection to the property in which the setter calls the `PropertyChanged` internally. I got the same result.

Please send me the sample code to drivero at uxdivers.com

[2017-11-14 22:00] RecipeSavants opened #312 "Getting an exception on GrialLicense during android debugging"
I am getting an exception on this line during debugging the android

UXDivers.Artina.Shared.GrialKit.Init(this, "RecipeSavants.Mobile.Droid.GrialLicense");

Claming that I need to download a new license for from the admin tool - I have no issue downloading a new license but how good are these license files for.  It is my plan to use the grail application framework to develop and deploy an applicat

[2017-11-14 22:12] jpbrocca commented on #312
Hi @RecipeSavants, how are you?

Probably your development license expired and that is why you are getting the message to download the new one.

You could switch to **Production Mode** if you are not going to change your app name, etc., in order to avoid this issue in the future.

Have a look at the docs:
http://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-working-with-pr

[2017-11-15 01:52] OpticNectar commented on #309
Is it drivero or dirivero?

[2017-11-15 01:57] OpticNectar commented on #309
I sent it to both just to be sure. Let me know if you didn't get it.

[2017-11-15 09:44] ceir opened #313 "Can't preview XAML page because of Grial license check"
I am using the latest version of the Grial developing in Visual Studio 2017 CE on Mac, trying to use the built-in preview available for XAML.

Running the solution with emulators works fine, no licensing issues.

Trying to preview any page, I get the missing Init() message.  Added a dependency in the IOS solution that inits the license.  Now the error message becomes the: "... . The application di

[2017-11-15 10:14] jpbrocca commented on #313
Hi @ceir, how are you?

 Xamarin.Forms Previewer has some limitations about previewing.
I would suggest you to use Gorilla Player to preview instead. It is a free product we develop and maintain.

Check [Grial docs about previewing with Gorilla Player](http://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-previewing-grial-with-gorilla-player) for an explanation of how to.

[2017-11-15 12:51] QamarAftab opened #314 "Splash Screen IOS"
Splash Screen in ios Does not change ..
i Replace Image In  ios
\Grial\full\iPayTax.iOS\Resources\splash@2x.png
but Still showing Grial Splash screen

[2017-11-15 14:17] jpbrocca commented on #314
Hi @QamarAftab,

That is weird. Probably a cache issue.
Try performing a Clean and Rebuild, then run again and let me know if the image is changed.

Keep also in mind you should provide the image for all different pixel densities (i.e.: splash.png, splash@3x.png).

Best
JP

[2017-11-16 03:31] OpticNectar commented on #309
@dirivero Did you get the sample project in the email?

[2017-11-16 04:20] dirivero commented on #309
Yes, I got it. I'll answer from there.

[2017-11-17 15:11] Nietoperek opened #315 "TabControl onOrientationChanged with ListView doesn't change size back"
When I rotate phone portrait->landscape it expands and works fine, but when I want want to rotate phone back(portrait -> landscape -> portrait) it doesn't shrink TabControl back.
It seems to be issue with ListView(tested with buttons and it works).

[2017-11-17 15:46] jpbrocca commented on #315
Hi @Nietoperek,
Can you provide more details such as:

- Grial version and if it is Grial PRO RTL or not.
- Xamarin Forms version you are using
- Is this happening on iOS, Android or both?
- Are you testing on real devices or emulators? Which versions?
- Can you put some schematic representation of your page so I can take a look?
  - Something like:
[code]

Thanks,
JP

[2017-11-17 16:50] Nietoperek commented on #315
1. 2.5.2 Grial Pro
2. Xamarin.Forms 2.4.0.38779
3. Probably just Android, works on iPhone 5.
4. Real devices, Android 7.0, Android 6.0, iOS 9.3.2
5.  As follows:
<Grid x:Name="PageLayout" RowSpacing="0">
{...}
<RelativeLayout x:Name="ContentHolder" Grid.Row="1"  HorizontalOptions="Fill" VerticalOptions="Fill" Style="{ StaticResource ContentStyle }">
                <StackLayout x:Name="BackgroundH

[2017-11-17 19:43] jpbrocca commented on #315
Hi @Nietoperek,
It seems there are some styles and controls that are needed to better understand what is going on.

A few comments:

- Is there any chance you could send me the full code to
![image](https://user-images.githubusercontent.com/15996999/32965658-ec3bd3e4-cbb5-11e7-87f0-7417c6837a30.png) ?
- If not possible, could you send me a video showing your current result?
- I would like to bette

[2017-11-17 19:49] jpbrocca commented on #315
One last comment:

What happens if you replace:
[code]
...with some basic element such as:
[code]
..do you still get the same issue?

[2017-11-17 20:25] Nietoperek commented on #315
I didn't try with boxview, but If I replace it with code from tabSettings(some nested stack layouts with buttons and labels) it works fine... CategoryList is ListView  with header and datatemplates. But I tested it without datatemplates(plain ListView with header) and it had the same effect. My RelativeLayout resizes but tabControl doesn't shrink and it allows to scroll horizontally.
I'm unable to

[2017-11-20 02:14] MichelMatthey commented on #299
After talking to Diego and Pablo from Grial on Skype, it is now clear, the splash screen is just to show an image and trying to do what I was requesting is simply too complex for now...

Thanks guys for confirming that on our skype session, I will show a page with the information that was meant to go on the Splash screen instead...

Now closing this ticket

[2017-11-20 02:14] #299 closed

[2017-11-20 09:54] Nietoperek commented on #315
I put simple ListView in tab:TabItem and it works the same - as described in first comment.
            <ListView x:Name="ItemsListView"
                RowHeight="80">
                <ListView.ItemTemplate>
                    <DataTemplate>
                        <ViewCell>
                                <StackLayout VerticalOptions="Center">
                                    <Label Text="T

[2017-11-21 03:51] afbase opened #316 "Is there a reason why initialization is done in FinishedLaunching instead of WillFinishLaunching?"
Hello,

Is there a reason why in the sample and full project code bases that you have the following code into `FinishedLaunching` instead of `WillFinishLaunching` method of iOS project's AppDelegate class?

    CachedImageRenderer.Init(); // Initializing FFImageLoading
    AnimationViewRenderer.Init(); // Initializing Lottie
    UXDivers.Artina.Shared.GrialKit.Init(param1, param2)
    FormsHelper.

[2017-11-21 12:08] LeoHere commented on #316
No, AFAIK it should not affect moving those the the `WillFinishLaunching`. Those methods usually should be invoked after using `FFImageLoading`, `Lottie` and `Grial` stuff. All of that occurs after the `LoadApplication` so you should be good.

[2017-11-21 17:24] jpbrocca commented on #315
Hi @Nietoperek, how are you?

I tested with your code and couldn't reproduce your issue.
Although I had to add some styles to make it work (i.e.:`ListItemTextStyle`, `ListItemDetailTextStyle`, etc.).
Could be possible that those styles could be causing some issues, but I don't know for sure because I don't have such styles.

If you want you can send me your files to the email mentioned above, or I

[2017-11-21 19:03] qaliwebguru opened #317 "TFS build error"
I am trying to create build definition. It works all get upto the point where it needs Acr package. It exit with following error.

DialogService.cs(1,7): Error CS0246: The type or namespace name 'Acr' could not be found (are you missing a using directive or an assembly reference?)

Is there an clue why it is happening?

[2017-11-24 07:58] ukomiljon opened #318 "an unexpected status code '401 Unauthorized'"
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0006	Metadata file 'E:\Grial-marketezi\Grial\starter\marketezi\bin\Debug\marketezi.dll' could not be found	marketezi.iOS	E:\Grial-marketezi\Grial\starter\marketezi.iOS\CSC	1	Active
Error		NuGet Package restore failed for project marketezi.Droid: Unable to find version '2.5.2' of package 'UXDivers.Artina.Shared'.
  C:\Program Fil

[2017-11-24 10:23] LeoHere commented on #318
Looks like it failed authenticating against our nuget package source. Please double check your credentials by visiting [this](http://nuget.uxdivers.com/grial) in your browser.

[2017-11-24 10:25] LeoHere commented on #316
Closing the issue. Please reopen it if needed.

[2017-11-24 10:25] #316 closed

[2017-11-24 10:27] LeoHere commented on #309
This issue was fixed starting at 2.5.14-RC3 available in the nuget package source. Closing the issue.

[2017-11-24 10:27] #309 closed

[2017-11-25 01:24] ukomiljon commented on #318
I can go in Grial Admin with user name and password.
But http://nuget.uxdivers.com/grial/
displays after login:
-------------------------------------------------------------------------
This XML file does not appear to have any style information associated with it. The document tree is shown below.
<service xmlns:atom="http://www.w3.org/2005/Atom" xmlns:app="http://www.w3.org/2007/app" xmlns="http

[2017-11-27 17:28] LeoHere commented on #318
The fact that displays the XML means you successfully authenticate, so your credentials are fine.

The problem seems to be in VS side. VS should ask you for your credentials when you try to access the Nuget package. Not sure why that is not the case in your setup.

Another option you have is to set your credentials in the `NuGet.config` file in the root directory (where the `sln` file resides).

S

[2017-11-28 04:04] stringo opened #319 "Add shadow to a Label"
Hi guys, I would like to add drop shadow to a Label. This label is overlapped in the Page, like an always visible control that opens a filtering page.

Please find a gif attached with my screen:

![My app](https://media.giphy.com/media/l2Rnva8a9Oi5b6IRq/giphy.gif "")

Here's my XAML:

[code]
I would like something like Gmail, find the example below:

![Example](https://cdn.dribbble.com/users/42020

[2017-11-28 06:06] KirkPatrickJunsay opened #320 "Margin for Button using OnIdiom and OnPlatform"
I was trying to use the combination of OnIdiom and OnPlatform with Grial with it's corresponding counterpart which I think is OnOrientationDouble.PortraitPhone (OnIdiom) and OnPlatform (OnPlatform). When I put <On Platform="Android">30</On> it is working but when I specify <On Platform="Android">30,70,30,0</On> the margin for left,top,right,bottom it is not working. Is there other way to implement

[2017-11-28 06:37] ukomiljon commented on #318
We are using VS2017 community edition.
is it any issue with VS2017 community edition?

I checked there is no any NuGet.config file.

UXDivers.Artina.Shared,UXDivers.Artina.Shared.Base, UXDivers.Artina.Shared.Repeater and UXDivers.Artina.Shared.Tab are issue,
but UXDivers.Effects is not issue

![image](https://user-images.githubusercontent.com/16934572/33305405-f7092cf4-d448-11e7-87de-82467ee65d7b.

[2017-11-28 09:35] jpbrocca commented on #320
Hi @KirkPatrickJunsay, how are you?
You were close, but the problem is you need `Thickness` type in order to make it work.

Please have a look at #293 for more details.

Best
JP

[2017-11-28 09:54] jpbrocca commented on #319
Hi @stringo, how have you been?
Woow! It is looking good! Congrats! 😀

If you take a look, what you need is already there on the `Badge` ;)
It is subtle but you already have a shadow there.
If you take a look at its style, you will find the `uxdivers effects` being used there.
You can also find the shadow effect applied on dashboard cards from Grial full sample.
You will need to play with blur val

[2017-11-28 10:13] LeoHere commented on #318
VS2017 Community is not an issue.

If there is no `Nuget.config` (which is the most common case) you will need to create it.

`UXDivers.Effects` is a public Nuget package, so it make sense.

[2017-11-29 00:52] KirkPatrickJunsay commented on #320
doing great, my first time diving in with Grial :)

Thanks @jpbrocca  for your response, I checked #293 and I was wondering on how to add the Platform type in the code snippet that you have provided below:

<Grid
     Margin="{
       artina:OnOrientationThickness
         PortraitPhone='10,0,0,0',
         LandscapePhone='10,0,0,0',
         PortraitTablet='50,0,0,0',
         LandscapeTablet='50

[2017-11-29 14:28] ukomiljon commented on #318
I created Nuget.config:
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="grial" value="http://nuget.uxdivers.com/grial" />
  </packageSources>
  <packageSourceCredentials>
    <grial>
      <add key="Username" value=".." />
      <add key="ClearTextPassword" value="..." />
    </grial>

[2017-11-29 14:28] ukomiljon commented on #318
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="grial" value="http://nuget.uxdivers.com/grial" />
  </packageSources>

<activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <grial>
      <add key="Username" value=

[2017-11-29 14:30] ukomiljon commented on #318
[code]

[2017-11-29 18:39] jpbrocca commented on #320
Hi again @KirkPatrickJunsay,

Very nice to know you are 'diving' in with Grial, as we are UXDivers we certainly like that! :)

Now, about your question, you should use it this way:

[code]

You can use any of the available orientations from our responsive helpers:
http://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-helpers-responsive-helpers

Let me know how it goes.

Bes

[2017-11-29 22:09] stringo commented on #319
@jpbrocca thanks!, I'm really happy working with Grial!

I have implemented the shadow like the examples you mentioned and it's working great on iOS, but it's not working on Android (it doesn't applies the shadow). Here's my screen in iOS now:

![My app](https://media.giphy.com/media/3ohs83f8ziyE90sFTa/giphy.gif "")

And here's my new code:

`
		<ContentView
			HorizontalOptions="End"
			VerticalO

[2017-11-30 03:21] ukomiljon commented on #318
Could you give me sample Nuget.config complete package?

[2017-11-30 11:50] ukomiljon commented on #318
[grial] The V2 feed at 'http://nuget.uxdivers.com/grial/Search()?$filter=IsAbsoluteLatestVersion&searchTerm=''&targetFramework='xamarinios10%7Cmonoandroid71%7Cportable45-net45%2Bwin8%2Bwp8'&includePrerelease=true&$skip=0&$top=26&semVerLevel=2.0.0' returned an unexpected status code '401 Unauthorized'.
[grial] The V2 feed at 'http://nuget.uxdivers.com/grial/Search()?$filter=IsAbsoluteLatestVersion&

[2017-11-30 11:54] KirkPatrickJunsay commented on #320
Hi @jpbrocca  thanks for the prompt support, I tried your code above and its giving me an error:

![image](https://user-images.githubusercontent.com/12691869/33429380-9929c4a2-d607-11e7-8cbc-651d22136b55.png)

It cannot find the OnOrientationThickness and I already added the namespace in the XAML.
Is there a specific version of Grial Packages that is only applicable for OnOrientationThickness ?
By

[2017-11-30 11:57] LeoHere commented on #318
@ukomiljon the `Nuget.Config` you specified looks just fine.

May be the name used in the `Nuget.Config` is the same as the one defined in `Tools->Options->Nuget` and is somehow confusing VS.

Please set the `Nuget.Config` to something like this.

[code]

so we are sure there is no naming conflict. **Remember** to set your user name and password.

Then:
1. Restart VS
2. Open your solution and go t

[2017-11-30 12:56] ukomiljon commented on #318
I did it, but not working, can u conform this:
Nuget.Config path:
![nuget config path](https://user-images.githubusercontent.com/16934572/33431508-895b0100-d60f-11e7-9921-e022d3ccb12e.png)

Nuget.Config:
![nuget](https://user-images.githubusercontent.com/16934572/33431617-fff4375a-d60f-11e7-811c-51772874121a.png)

Manage Nuget Packages for Solution:
![error](https://user-images.githubusercontent.c

[2017-11-30 13:02] ukomiljon commented on #318
can you go in to my computer via teamviewer and solve it?

[2017-11-30 14:02] ukomiljon commented on #318
Its trying to find v.2.5.2.  But there is 2.2.19
![error after restore](https://user-images.githubusercontent.com/16934572/33434369-0e6c7522-d61a-11e7-8e25-67c305d41df4.png)

it looks something wrong the version which I get.

[2017-11-30 16:07] jpbrocca commented on #320
Hi Kirk, how are you?

Yes, you need version `2.5.14-RC2`.
This is a pre release and will be soon added to stable version.

Best regards,
JP

[2017-11-30 18:20] jpbrocca commented on #319
Hi @stringo, how are you?

You are right, I tested it and it seems Android strikes again :(
What you could try is to use an image to make the shadow...something like the following:

![image](https://user-images.githubusercontent.com/15996999/33447170-335c8838-d5e1-11e7-9ed8-58e43480ac26.png)

You will need to make this image transparent and put it "behind" the button and the badge.

Another option

[2017-12-01 03:02] KirkPatrickJunsay opened #321 "Visual Studio Mobile Center can't find the Grial Packages."
Hi @jpbrocca as I was trying to build IOS package for Mobile Center, unfortunately it cannot find the package for Grial. I attached the screenshot below as your reference:

![image](https://user-images.githubusercontent.com/12691869/33465930-a1f6fd56-d685-11e7-809e-236804bd9831.png)

Is there any special configurations that I need to perform when building in Mobile Center with respect to Grial Pac

[2017-12-01 12:14] LeoHere commented on #318
@ukomiljon I'm seeing your attempts to signin in the logs. So, now the problem seems to be your password.

Please notice that in the screenshots you are using `Password` not the `ClearTextPassword`.

![image](https://user-images.githubusercontent.com/16000584/33482360-6b4538a8-d677-11e7-9423-6554fb5d52be.png)

[code]

[2017-12-01 12:21] LeoHere commented on #321
@KirkPatrickJunsay please see #221.

[2017-12-01 14:23] ukomiljon commented on #318
I changed Password  to  ClearTextPassword and GrialNugetConfig to  grial as you mentioned.
It works! Thank you very much!

[2017-12-04 02:48] ukomiljon opened #322 "how to get list of products from Magento2 in UXDivers?"

[2017-12-05 05:43] khadeeja-alif opened #323 "GrialShapesFont - Unlock Icon?"
Is there an Unlock Icon available in GrialShapesFont?
I was able to find a lock icon, but can't see no unlock icons.

[2017-12-05 06:57] KirkPatrickJunsay commented on #321
Hi @LeoHere, thanks for the help, it works perfectly with App center 👍

[2017-12-05 06:57] #321 closed

[2017-12-05 06:59] KirkPatrickJunsay opened #324 "Grial UI Kit Gradient background on viewcell"
Hi @jpbrocca  are there any gradient techniques for Grial controls like for example in View Cell could we implement gradient background ?

thank you very much,
kirk

[2017-12-05 07:00] #320 closed

[2017-12-05 20:20] jpbrocca commented on #324
Hi @KirkPatrickJunsay,

No, currently not gradient support.
It's on the backlog though so probably next version will provide it.

In the meantime, you can use an image (png, jpg) as your background.
Alternatively, you could try with FFImageLoading SVG to consume an SVG file.

Best,
JP

[2017-12-05 20:24] jpbrocca commented on #323
Hi @khadeeja-alif, how are you?

No, it is not currently provided.
You can switch to Fontawesome to get that icon:

http://fontawesome.io/icon/unlock-alt/

Best,
JP

[2017-12-05 20:25] jpbrocca commented on #322
Hi @ukomiljon,

can you clarify what you are asking?

Please provide as much context as possible.

Thanks,
JP

[2017-12-07 03:30] sky018 opened #325 "TabControl - using separate page for its children - Also tab control shows blank page"
Hi,

@jpbrocca

Would it be possible to use a different xaml page when implementing child of a tab control? If yes, how would I be able to do it? Thanks.

Plus, the tab control I made doesn't work, it only shows a blank white page:
Here's the xaml content:
[code]

[2017-12-07 18:42] jpbrocca commented on #325
Hi @sky018, how are you?

The `TabControl` is used to display content within the current page. If you want to use pages as content you will need to use a `TabbedPage`.

It seems you are missing the `StyleClass` to make it work...in this case I am using the one from Grial Sample, but you can use the other ones available (or create your own based on any of them):

- Android look and feel -> `TabCont

[2017-12-07 23:34] sky018 commented on #325
Hi @jpbrocca ,

I see - so using tab control only displays the current page, so tab page if I want to separate each of them. (Thanks for this)

I have tried this, I even tried to copy pasted the tab control snippet on the project sample grial provided, unfortunately, it didn't worked.

[2017-12-08 00:25] KirkPatrickJunsay commented on #324
Thanks as always @jpbrocca  for your support.

[2017-12-08 00:25] #324 closed

[2017-12-08 01:56] jpbrocca commented on #325
Hi @sky018,

I just used your code, pasted over Grial Tab Control sample page and it just works if you add the `StyleClass` attribute as I mentioned.
(I only had to rename your namespace `tabGrial` to use the same used on that sample page).

You need to make sure you have the StyleClass, DataTemplate, etc. on your page as ResourceDictionary items.

About the effects question:
It seems you misspell

[2017-12-08 02:46] sky018 commented on #325
@jpbrocca

Hi, yes, I think I just mistyped it here, here's the complete assembly name:  ` xmlns:effects="clr-namespace:UXDivers.Effects;assembly=UXDivers.Effects" `

Alright, idk what happened, I just did copy pasted it and it worked, weird thing, I just tried to recreate it. But the assembly `Effects`  is nowhere to be found.

[2017-12-08 06:42] sky018 opened #326 "TabControl - no highlight/underscore when selecting the tab"
![tabcontrol](https://user-images.githubusercontent.com/21186089/33754067-9a1420be-dc25-11e7-9c3b-c1f3c4587c2b.jpg)

Hi @jpbrocca ,

I have a problem regarding the highlight / underscore when selecting a tab, it's not showing -- using a tab control, is there a way to fix this? It seems like the `Text="{ artina:Translate TabItemTextDrama }"` is the one representing the highlight / underscore in Gri

[2017-12-08 06:44] #325 closed

[2017-12-08 07:56] KirkPatrickJunsay opened #327 "Grial UI Kit Text Color of Tab Item"
Hi @jpbrocca, I was trying to change the text color of the Tab Items but cannot find the property
textcolor. Are there any work around for the text color of Tab Items ?

thank you very much,
kirk

[2017-12-08 10:20] MichelMatthey opened #328 "Is it OK to use Xamarin.Forms 2.5.0.91635 with UXDivers 2.5.14-RC3 ?"
Is it OK to use Xamarin.Forms 2.5.0.91635 with UXDivers 2.5.14-RC3 ?

Getting some Object Disposed Exceptions since I upgraded UXDivers to 2.5.14-RC3 and XF to 2.5.0.91635 ? I upgraded as it was solving another issue I had...
System.ObjectDisposedException: Cannot access a disposed object.

See in this XF ticket, I am stuck at the moment, please help: https://github.com/xamarin/Xamarin.Forms/issue

[2017-12-08 11:03] ukomiljon commented on #322
we are going to build Magento2  cross platform mobile app with xamarin.
to make faster develop we choose UXDivers.
which rest api is better to use with UXDivers to get, post, delete and update from/to Magento2?

[2017-12-08 17:31] jpbrocca commented on #327
Hi @KirkPatrickJunsay, how are you?

If you take a look at `TabControlSamplePage.xaml` you see at the top the different resources used on that sample.

Basically, the tab items are built based on the 3 different `DataTemplate` provided with the sample (Android, iOS and Grial look and feel). That will give you total flexibility about how tabs are displayed.
So depending on which of the tree tabs lo

[2017-12-08 18:09] jpbrocca commented on #326
Hi @sky018, how are you?

Is this happening on the full sample provided with Grial or in your own project?
If it is the later then make sure to check with the full sample `TabControlSamplePage.xaml` file...maybe you missed some resources.

If this is happening with the full sample then please provide more info such as:

- Grial version you are using
- Grial flavor (RTL, Standard or PRO?)
- Xamarin

[2017-12-08 18:10] jpbrocca commented on #322
Hi @ukomiljon,

The rest API is totally independent of Grial, you can choose the best that suits your needs.

Best,
JP

[2017-12-08 22:52] LeoHere commented on #328
@MichelMatthey we tested Grial with XF 2.5.0.91635 and we didn't find any issue so far.

We tested running Grial for ~50mins in the emulator to see if something like what you described happen but we were not able to reproduce the problem.

Without a solution or further details about how to reproduce the issue it would be very difficult to find out what is going on. Can you provide any additional d

[2017-12-09 03:19] ukomiljon commented on #322
thanks

[2017-12-09 03:19] #322 closed

[2017-12-09 04:05] MichelMatthey commented on #328
Did you get lots of Warnings when you built, I get some 153 related to conflicts with packages ?

Is there any way Grial could provide a version that uses the latest XF version so I can upgrade please ?

[2017-12-11 03:22] KirkPatrickJunsay commented on #327
Hi @jpbrocca thanks for the help, It works well.

[2017-12-11 03:22] #327 closed

[2017-12-11 03:27] sky018 commented on #326
Hi, @jpbrocca still alive and breathing.

Sorry for my late response since I did not have my machine last weekend to test it. It works on grial sample, however, I just copy pasted the code without doing any revisions.

Grial Version: 2.5.2
Grial Flavor: RTL PRO
Xamarin Forms Version: 2.4.0.282
Platforms: Both iOS and Android.
Device: Simulator

Best Regards

[2017-12-11 06:54] sky018 commented on #326
Hi @jpbrocca seems like it is because of the dynamic resource, changed it into static resource and manually inserted styles on it. Issue is now fixed, thanks!

[2017-12-11 06:54] #326 closed

[2017-12-11 10:55] jpbrocca commented on #315
Closing this to keep things tidy. Feel free to reopen as needed.

[2017-12-11 10:55] #315 closed

[2017-12-12 11:10] LeoHere commented on #328
@MichelMatthey we are working on an update that should make those warnings goes away. You will need to update UXDivers packages and probably a bunch of other packages in order to remove the warnings.

The updated should be ready early next week. I will keep you posted.

[2017-12-12 21:53] msl2000 opened #329 "Grial Project not running on device"
Hi

I recently purchased Grial and have been attempting to debug it on an android device. Problem is the app won't get past the splash screen. Tried with 2 different device, where one is running on API 23, it crashes shortly after the app gets to the splash screen. As for the other running on API 25.

I am currently running on VS for windows.

I have tried running on a emulator and it works there

[2017-12-12 21:55] MichelMatthey commented on #328
Thank you, please let us know what packages we need to update when it is ready, including the more common packages like NewtonSoft which seems to be causing issues as the rest of the packages seem to need NewtonSoft 10+ and the rest NewtonSoft 9+...

[2017-12-12 22:12] jpbrocca commented on #329
Hi @msl2000,

Can you provide more details about your issue, like:

- Grial version you are using
- Grial flavor (RTL, Standard or PRO?)
- Xamarin Forms version
- Which device are you testing with?

Is there any chance you could get the exception and paste add it here?

Regards and thanks,
JP

[2017-12-12 22:29] msl2000 commented on #329
Hi @jpbrocca

Grial version is 2.5.0.0

Grial Flavor is PRO

Xamarin Forms Version 2.4.0.282

Device is a LG G4 and a Samsung S8

No Exception has been published which is quite a hassle.

Thank you!

[2017-12-12 22:36] msl2000 commented on #329
Xamarin Forms version 2.4.0.282 for the solution and Xamarin 4.8.0.753 on VS

[2017-12-13 16:57] jpbrocca commented on #329
Hi @msl2000, how are you?

Can you take a look at the Application Output panel on Visual Studio and check if you get more info when the crash occurs?

Regards and thanks,
JP

[2017-12-15 10:51] kirti-zare opened #330 "How to work with font awesome in Grial?"
Hello

I have purchase grial kit since 5 day ago.

It is working properly, but I want to use fontawesome instead of grialshapes font.

when I write code in app.xaml <OnPlatform x:Key="IconsFontFamily" x:TypeArguments="x:String" Android="grialshapes.ttf#grialshapes" iOS="grialshapes" /> app is working.

But when I write code <OnPlatform x:Key="IconsFontFamily" x:TypeArguments="x:String"
Android="Fo

[2017-12-15 13:10] jpbrocca commented on #330
Hi @kirti-zare,

Please refer to Grial documentation about working with icons:
https://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-using-font-icons

If you set the build action for font awesome then that would be enough in terms of the file.
You will still need to change the current templates to point to the right font helper and icon.

Best,
JP

[2017-12-16 02:52] kirti-zare commented on #330
Hello,

I already mention you that I go through that document.

Please explain me with example

Thanks and Regards,

Kirti Zare

Krtya Softwares

________________________________
From: jpbrocca <notifications@github.com>
Sent: Friday, December 15, 2017 6:40:12 PM
To: UXDivers/Grial-UI-Kit-Support
Cc: Kirti Zare; Mention
Subject: Re: [UXDivers/Grial-UI-Kit-Support] How to work with font awesome in

[2017-12-16 19:16] IWantMyApp opened #331 "Need to change app name"
Hi, I didn't realize switching to production mode was a onetime thing.  I see the warnings now, but don't remember them at the time, although admit to doing crazing things to get a clean build sometimes ;)

I need to change the app name.  Please let me know how I can get this done.  Thanks!

[2017-12-17 14:43] jpbrocca commented on #330
Hi @kirti-zare,
Please notice the link I sent you:

https://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-using-font-icons

... is different than the one you put here.

Mine has the specific link to the detailed explanation on how to use font icons in Grial.

Alternatively, you can also check this one, which it seems you already did:
https://uxdivers.github.io/Grial-UI-Kit

[2017-12-18 12:41] #204 closed

[2017-12-18 14:54] lerrie commented on #10
Hi,
I would like to implement FontAwesome also with Grial UI Kit, where can i get the content for /Renderers/CustomFontLabelRenderer.cs ? Somehow it is not in my sample project. Thanks in advance.

[2017-12-18 17:06] jpbrocca commented on #10
Hi @lerrie,

This is an old thread, please have a look at Grial 2.0 docs about working with icons:
https://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-using-font-icons

Best,
JP

[2017-12-18 18:50] maquiavelli opened #332 "Open another application navigation color."
White color in modal to open another application.

![img_fb6ef8843d04-1](https://user-images.githubusercontent.com/5720620/34122406-84b17604-e413-11e7-8de9-bf086cbfee81.jpeg)

[2017-12-19 20:35] bobvaselaar opened #333 "Grial UI Kit generated solution causes issue with Xam.Plugin.Media nuget on iPad model MP2F2LL/A"
Found this issue while testings my Grial-based app on iPad model MP2F2LL/A:

I use the Xam.Plugin.Media Nuget  https://github.com/jamesmontemagno/MediaPlugin for camera support in my app.

When I try to take a picture with the iPad the application will freeze up either on the first picture or the second picture.

When I created a simple Xamarin forms project with the same architecture, no bug was

[2017-12-20 00:17] dirivero commented on #333
I've tried with both projects but I couldn't reproduce the issue in either of them.

What's the error you are experiencing? Exception?

Thanks
Diego

PS: I've removed the zips from your post since it's not allowed to share publicly Grial source code.

[2017-12-20 02:10] MichelMatthey commented on #328
You mentioned next week mid last week, can you please let us know when it is going to be ready on the Grial nuget ?

[2017-12-20 15:44] bobvaselaar commented on #333
Hi Diego,

Thanks for giving this a try. Unfortunately, no, there is no exception that
I've seen (or even a crash). The app simply becomes totally unresponsive as
soon as it his the code

await CrossMedia.Current.TakePhotoAsync(MediaOptions options)

I've observed this on the listed iPad model with both iOS 11.2 and 11.3.
Which version were you using? What was the model number of your iPad?

Stran

[2017-12-20 16:41] wkunker commented on #47
1. Documentation is sparse and doesn't seem to cover many of the basic conditions one can encounter when using this product; I have encountered more than a few Grial-specific problems which I could not find mention of in the Grial documentation. It seems like there's a typo in every other paragraph, but that seems to be par for the experience in the Xamarin world (Xamarin/Forms documentation has t

[2017-12-21 03:12] stringo commented on #319
Looks good!, I will add this in my next sprint. For now, I think you can close this issue guys. Thanks a lot!

[2017-12-21 03:39] stringo opened #334 "iOS email composer colors"
Hi guys,

I'm working with the[messaging plugin for Xamarin ](https://github.com/cjlotz/Xamarin.Plugins/tree/master/Messaging )

I'm trying to share some content through WhatsApp and so on, of the options is sharing through email. This is the ContentPage:

![ContentPage](https://preview.ibb.co/fvL35R/IMG_5430.png)

When the user taps on the email icon it pops up the email composer view as follows:

[2017-12-21 04:10] #319 closed

[2017-12-21 05:01] stesvis opened #335 "Is it compatible with Prism?"
All my MVVM apps use Prism, will Grial work with it?

PS: I wish you had a contact form on your website.

[2017-12-21 10:46] LeoHere commented on #328
@MichelMatthey we are very close. Hold on please. We will let you know as soon as those bits are live.

[2017-12-21 11:38] jpbrocca commented on #335
Hi @stesvis,
Grial is MVVM framework agnostic.
It is built over MVVM pattern but it doesn't use Prism or any other framework.
You can however use Grial with Prism, many of our customers use it that way.

Here is a link that shows how you can do it:
https://devlinduldulao.pro/how-to-use-grial-ui-kit-with-prism-and-infragistics-appmap/

About our website, if you go to grialkit.com you will find a ch

[2017-12-21 23:26] MichelMatthey commented on #328
Great thanks! Looking forward to being able to upgrade and get rid of all these warnings that get in the way o other proper warnings...

[2017-12-27 01:22] MichelMatthey commented on #328
Any progress on that one please ?

[2017-12-27 18:49] lerrie commented on #314
Hi, i am having the same issue. I updated the splash.png image and the splash does not change.. it still has the Grial icon. I even removed the storyboard and add new blank one, uploaded LaunchImages under Asset.. and still the same.

Please advise. Thank you.

[2017-12-27 19:29] jpbrocca commented on #314
Hi @lerrie,

Did you make sure to update all different versions of your image (i.e.: splash.png, splash@3x.png).?
Can you confirm?

Thanks,
JP

[2017-12-27 19:42] lerrie commented on #314
Hi JP,

Yes i have those three - splash.png, splash@2x.png and splash@3x.png.

It is weird because when i open the storyboard in VS, it is showing my logo but when i run to ipad device, it is showing the grial logo.

You mentioned something about the cache?, how will I reset or clear the cache? I already did the clear, build and rebuild few times.. and no luck.

Thanks,
Lerrie

[2017-12-27 20:22] jpbrocca commented on #314
Hi @lerrie,

OK, you did the clean, rebuild stuff so that should have updated things with your splash.

Can yo do a couple of things more?

1. In any xaml file add an image an set its source to your splash, the run and check you have the right image there on your ipad.
2. Close VS, clean, rebuild and run again.

If all that fails please let me know.

Thanks
JP

[2017-12-27 21:56] lerrie commented on #314
Hi JP, i tried what you said and the image shows fine. Surprisingly, my logo shows up in the storyboard too. I am not sure what solves it but another thing i did is remove and then copy and paste the original storyboard from the starter project to my project. Thank you for your quick response and assistance.

[2017-12-27 22:53] jpbrocca commented on #314
Hi @lerrie,
Glad to 'read' that 😀

Yes, probably some VS hiccup. Sometimes VS seems not to update things when it builds.
I often find myself doing the clean, build and run combo and when that fails I restart VS and 90% of the times it works!

Best regards and you are welcome!
JP

P.S.: closing this issue since it seems is not a bug on our end.

[2017-12-27 22:53] #314 closed

[2017-12-27 23:06] LeoHere commented on #328
@MichelMatthey we have just published version `UXDivers.Artina.Shared*` `2.6.0.4` of the nuget packages which are compatible with .NET Standard. You will need to upgrade those.

In addition to this and in order to get rid of those warnings you might need to upgrade other packages in your project. I'm not sure what packages your current solution have, but if you project was based on the Grial Start

[2017-12-28 03:12] MichelMatthey commented on #328
Thanks for that, here are a couple of questions please:
1) had to change the call to CachedImageRenderer.Init(true); as Init is no longer a parameter less method... It crashes so maybe I need to pass false, please explain which one we need to pass ?

2) Also, Which versions of Xamarin Forms and Xamarin Android Support does it depends on please ?
- UXDivers.Artina.Shared.* V2.6.4 ?
- UXDivers.Effec

[2017-12-28 03:27] jpbrocca commented on #328
Hello @MichelMatthey, how are you?

I can give you some orientation about your questions so you can save some time while you wait for @LeoHere's answer.

1. For Android, [FFImageLoading latest version](https://github.com/luberda-molinet/FFImageLoading/wiki/Xamarin.Forms-API)  requires this:
[code]
2. About Xamarin Forms version and Android Support, check Xamarin official docs here:
https://develop

[2017-12-28 03:31] jpbrocca opened #336 "Added support for .NET Standard 2.0 to Grial 2.6.0.0 RC"
Dear customers, we have great news to share!
We have added support for **.NET Standard 2.0** to **Grial 2.6 RC**.

Starting in this version Grial UI Kit Sample project is a **.NET Standard 2.0 Project**, *not a PCL project anymore*. The packages target **.NET Standard 1.0** to maximize compatibility.

## Extra stuff!
Additionally, **Grial 2.6 RC** includes some enhancements for the license verific

[2017-12-28 03:35] MichelMatthey commented on #328
Hi Thanks very much, couple of questions:
1) Which bool should I pass, true or false in the Init method ?
2) Is it Ok to use FFImageLoading 2.3.2 instead of 2.3.1, why didn't you use 2.3.2 as it is the latest ?

Much appreciated ...

[2017-12-28 03:39] jpbrocca commented on #328
1. That will depend on your app if you want to use fast renderers or not. By default if you take a look at Grial Full or Starter projects you download from Grial Admin you will see it is set to:

[code]

2. That is a question for @LeoHere :)

Hope that helps!

Best,
JP

[2017-12-28 03:49] MichelMatthey commented on #328
I am getting the following warnings:
- 1st Warning:
Warning		Skipping CrowdBlendingMe.Droid.Resource.Animation.design_fab_in. Please check that your Nuget Package versions are compatible.	CrowdBlendingMe.Droid	C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Xamarin\Android\Xamarin.Android.Common.targets	1344

- 2nd Warning:
Severity	Code	Description	Project	File	Line	Suppress

[2017-12-28 03:57] jpbrocca commented on #328
Take this with a grain of salt since I am just trying to guide you, but that is probably related to your other libraries and the Android version being used.
Probably @LeoHere can provide more guidance here.

A couple of comments:

1. Can you successfully build and run the project or do you get any errors that are blocking you?
2. Could you add here the details about what Android version are you ta

[2017-12-28 04:37] jpbrocca commented on #290
Hi guys, just to let you know we have added support for .NET Standard.

More details here:
https://github.com/UXDivers/Grial-UI-Kit-Support/issues/336

Best,
JP

[2017-12-28 04:38] jpbrocca commented on #283
Hi @rmoquin, how are you?

We have added support for .NET Standard to Grial.

You can check more details here:
https://github.com/UXDivers/Grial-UI-Kit-Support/issues/336

Best,
JP

[2017-12-28 06:14] MichelMatthey commented on #328
No they are just warnings, it builds and runs OK, but it would be nice to have them resolved anyway!

Can you make sure@LeoHere has a look at why he didn't use the latest version of FFImageLoading (2.3.2 instead of 2.3.1) ?

And if h can answer my other questions... Thanks!

[2017-12-28 07:43] southrock70 commented on #290
Great will download and test. Nice work!!!

[2017-12-28 14:17] LeoHere commented on #328
@MichelMatthey regarding the `FFImageLoading` version, `2.3.2` has been released just a couple of days ago, too close to the release to update it.

Regarding your questions for `NETStandard.Library` we are using `2.0.0`.  For the other packages I can't say because I'm not familiar with them.

If you want you can download the Grial .Net Standard based app from the [Grial Admin](http://uxdivers.com/

[2018-01-03 16:39] ianvink opened #337 "TabControl - OnTapped?"
Our UI needs to display something outside the tabs when a certain tab is clicked, but there don't seem to be any Selected events?

[2018-01-03 16:53] ianvink commented on #337
Fantastic tool by the way, nice job guys.

[2018-01-03 17:32] jpbrocca commented on #337
Hi @ianvink, how are you?
Thanks a lot for the positive feedback!! :)

Please take a look at #248 where it is explained how to handle events with `TabControl`.

Best regards,
JP

[2018-01-03 18:03] ianvink opened #338 "Very worth the investment"
We've been using the tool for a while and must say the labour costs saved far outweigh the cost of the tool. Excellent investment.

[2018-01-03 18:30] jpbrocca commented on #338
Hi @ianvink, how are you?

It is a great honor to have you working with our product...we have seen your face more than once on Xamarin Forms forums ;)

Thank you very much for your support!
We work really hard to make Grial Kit a great UI/UX experience for Xamarin Forms!

I would love to hear more about what you are building, and if you have any suggestion/comment about the product.
We are constan

[2018-01-03 19:48] ianvink commented on #338
Behaviours on TabControl would be nice. I use the popular EventToCommand behavour tool. Adding that to a TabControl causes XAML compile errors.

https://developer.xamarin.com/guides/xamarin-forms/application-fundamentals/behaviors/reusable/event-to-command-behavior/

[2018-01-04 03:02] KirkPatrickJunsay opened #339 "ListView Click and Drag Order of Items"
Hi @jpbrocca ,

Happy new year :)

I would like to ask if Grial has a built in reordering functionality of items ?

thanks

[2018-01-04 03:48] markmark028 commented on #339
I hope we have this in Grial.

[2018-01-04 04:47] msl2000 commented on #329
Hi JP

Seems a clean install of visual studio did the trick for some oddball reason. Sorry for the late response.

[2018-01-04 04:49] msl2000 opened #340 "How to print in console"
Hi

Apologies if this seems like a really low level question but I can't seem to find a way to be able to log to the console.

Doing some testing and would really appreciate knowing how to print our.

System.Console and System.Debug aren't available in the starter package.

[2018-01-04 13:54] jpbrocca commented on #338
Hi @ianvink, how are you?

Great, thanks for the suggestion.
We will add this to the backlog.

Let me know if have any other suggestion.

BEst,
JP

[2018-01-04 22:23] #329 closed

[2018-01-05 04:43] jpbrocca commented on #339
Hi @KirkPatrickJunsay, happy new year for you too!

No, Grial just uses ListViews provided by
 Xamarin Forms.

Best
JP

[2018-01-05 04:57] jpbrocca commented on #340
Hi @msl2000,

I am not sure what you are asking, or why you mention the starter, but if you just need to log something you normally use Console.WriteLine("Text here");

You can take a look here for more details:
https://developer.xamarin.com/api/member/System.Console.WriteLine()/

...and here:
https://developer.xamarin.com/recipes/cross-platform/ide/debugging/output_information_to_log_window/

Bes

[2018-01-05 07:20] KirkPatrickJunsay opened #341 "Responsive Helpers"
Hi @jpbrocca,

I have a question with Responsive Helpers, In iOS the artina:OnOrientationBool is working while in Android it is not working. I attached the sample code snippet for your reference.

![responsivehelper](https://user-images.githubusercontent.com/12691869/34599095-9d42bf18-f22b-11e7-8343-49adafc8d75c.PNG)

thanks

[2018-01-05 07:20] KirkPatrickJunsay commented on #339
Ok, thanks for the info 👍

[2018-01-05 07:20] #339 closed

[2018-01-05 21:07] vhugogarcia commented on #336
One question:

The .NET Standard 2.0 version when is planned to be released officially?

[2018-01-05 21:14] jpbrocca commented on #336
As soon as Xamarin.Forms latest stable version includes a fix for the XAMLC issue.
After that, Grial 2.6 will be promoted to RTM.

More details here:
https://grialkit.com/2017/12/grial-ui-kit-net-standard-2-0-support/

[2018-01-05 21:15] vhugogarcia commented on #336
Thanks @jpbrocca one last question, Is GrialKit's supporting latest version of Xamarin.forms 2.5?

[2018-01-05 21:16] jpbrocca commented on #336
Yes, latest stable version is supported.

[2018-01-05 21:36] vhugogarcia commented on #336
Thanks @jpbrocca Sorry for bother you, but I do have one last question, Do you know if Grial's is compatible with iPhone X screen resolution or are you working still on adapt it for that size?

[2018-01-05 21:44] jpbrocca commented on #336
Grial design should adapt by itself, however our current version is not optimized for the iphone X notch, but doing something like the following should do the trick to display content in the safe area:
[code]
If you need to go further you can take a look here:
https://xamarinhelp.com/safeareainsets-xamarin-forms-ios/

[2018-01-05 21:48] vhugogarcia commented on #336
Are you planning to fully integrate the Grial's UI.Kit with iPhone X soon? just curiosity

[2018-01-05 21:52] jpbrocca commented on #336
Next version.

[2018-01-06 01:33] LFE01 opened #342 "Having alot of XA0106 warnings after update Android Support library to 25.4.0.2"
![image](https://user-images.githubusercontent.com/12483829/34634977-db539a9e-f289-11e7-926e-d1a3074c67fb.png)

[2018-01-06 11:08] #342 closed

[2018-01-08 14:02] jpbrocca commented on #341
Hi @KirkPatrickJunsay, how are you?

Can you let me know:

- Are you testing on real devices or emulators?
- Which Android version are you targeting?
- Xamarin forms version?

Thanks,
JP

[2018-01-08 15:17] qaliwebguru opened #343 "IOS Application loader - Missing ICON error"
Hi

Can you please help me? Why IOS Application loader giving the error of missing icons? In grial project i have only replace the images with exactly same sizes.

Is there any update which i need to get or this is some other issue?
![20180108_151112](https://user-images.githubusercontent.com/31895946/34677080-e1be6004-f486-11e7-95d0-d6753ac62501.jpg)

[2018-01-08 15:33] jpbrocca commented on #343
Hi @qaliwebguru,

It seems this is something Apple changed recently.

Check here:
https://forums.developer.apple.com/thread/86290

...and here for possible solutions:
https://stackoverflow.com/questions/46109835/app-icons-not-included-in-build-from-xcode-9

Looks some folks are pointing this to an issue on `info.plist` or the color profile on the icons used for their app. Check if any of those cou

[2018-01-08 16:15] qaliwebguru commented on #343
Its very weird. No luck.

[2018-01-08 16:51] vhugogarcia commented on #336
Awesome @jpbrocca . Is there a possibility to know when are you planning to release the next version so we can plan a timeline for our client on a mobile project? please

thanks in advance

[2018-01-09 01:53] KirkPatrickJunsay commented on #341
Hi @jpbrocca

I'm doing fine,
I'm testing in real device Android O.S. Version **7.0** and Xamarin Version is **2.4.0.282**

thanks,
kirk

[2018-01-09 02:53] mdredmond opened #344 "AppMap Issues"
This isn't strictly Grial's issue, but since November, Infragistic's AppMap only supports .NET Standard 2.0 PCLs.  The PCL supplied in the Grial starter solution doesn't target .NET Standard so AppMap can't be added to it.  That leaves the tedious process of adding Grial to to the skeleton application that AppMap produces...

I'm not good enough with Xamarin Forms to weed through these issues...

[2018-01-09 16:28] jpbrocca commented on #344
Hi @mdredmond, how are you?

We have recently released an update to support .NET Standard in Grial.
Please take a look a this:
https://github.com/UXDivers/Grial-UI-Kit-Support/issues/336

Best,
JP

[2018-01-11 18:18] jpbrocca commented on #341
Hi @KirkPatrickJunsay, how are you?

I did a fast test and could not reproduce your issue.

I tried with this code:

[code]

...and it seems to be working properly.

[2018-01-11 18:46] jpbrocca commented on #341
Hi again @KirkPatrickJunsay :)

Just something to make sure you have all the necessary stuff to make the responsive helpers run on Android...did you make sure you added in your `MainActivity.cs`?:

[code]

[2018-01-11 19:54] iwaitu opened #345 "email validator not work"
xaml file:

<?xml version="1.0" encoding="utf-8"?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms" xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml" x:Class="intliveMobile.LoginPage" xmlns:artina="clr-namespace:UXDivers.Artina.Shared;assembly=UXDivers.Artina.Shared" xmlns:local="clr-namespace:intliveMobile;assembly=intlive.Mobile" Title="{artina:Translate Key=PageTitleLogin}">

[2018-01-11 20:05] iwaitu commented on #345
I trying to do a loginpage, I copy this entry code from SignUpPage in full sample project, and copy SignUpPage into the new project from full sample project. My problem is the emailvalidator work fine in SignUpPage , but do not work In my new page.

[2018-01-11 23:09] msl2000 opened #346 "artina:GridOptionsView Click Event"
Hi there

For artina:GridOptionsView, is there a way to toggle a click event after pressing an image? The ItemClickCommand is not responding

Coded as so:

xaml:
<artina:GridOptionsView Padding="10,20" ColumnSpacing="10" RowSpacing="10" VerticalOptions="Fill" HeightRequest="120" ColumnCount="3" RowCount="1" ItemClickCommand="Video_Clicked" ItemsSource="{Binding videos}">

code behind:
private asyn

[2018-01-12 00:47] KirkPatrickJunsay commented on #341
Hi @jpbrocca

I tried the code snippet inside **OnConfigurationChanged** and it works wonderfully.
thanks again for the support 👍

thanks,
kirk

[2018-01-12 00:47] #341 closed

[2018-01-12 20:52] LeoHere commented on #346
@msl2000 `ItemCliclCommand` expects a command not an event handler. Please check #207 for an example of how to use it.

[2018-01-15 23:40] kriscoleman commented on #229
Yes. OnOrientationXxx is type safe, so just use the type that Padding/Margin expects, double.

For a font size, which expects int, you would use OnOrientationInt.

Whenever orientation changes, the function will update that view's property.

[2018-01-16 17:44] jsucupira opened #347 "Input text disappear when sending message"
On the Chat Messages List Screen when you click on the input text to enter a message the input is hidden by the keyboard.
![no-focus](https://user-images.githubusercontent.com/1004621/35003463-f2037686-faba-11e7-828c-fff161d73b4b.png)
![with-focus](https://user-images.githubusercontent.com/1004621/35003475-f6bf1e5a-faba-11e7-9fa9-cd8f5ac774de.png)

[2018-01-16 19:19] jpbrocca commented on #347
Hi @jsucupira, how are you?

Please check this related issue:
https://github.com/UXDivers/Grial-UI-Kit-Support/issues/173

Best,
JP

[2018-01-16 19:19] #347 closed

[2018-01-17 06:26] msl2000 commented on #346
Thank you for that, Problem has been solved and just added an event handler to the template!

[2018-01-17 06:27] #346 closed

[2018-01-17 22:17] #328 closed

[2018-01-19 11:45] gurhangulmez opened #348 "Problem about License : VisualStudio Previewer - Grial UI License not initialized, ..."
Hi,

I have GrialLicense problem again,

This pictures illustrates the exception and my codes for license.

Can you help me to find where is the problem?

Thank You..

IOS :
![license](https://user-images.githubusercontent.com/13269673/35149457-337858ac-fd27-11e7-8f2d-1229f0c42c4d.jpg)

![code](https://user-images.githubusercontent.com/13269673/35149463-37921126-fd27-11e7-9bd1-c072b6505b7a.jpg)

[2018-01-19 11:48] gurhangulmez opened #349 "Problem about showing GrialShapesFont.LogoGrial"
Hi,

I am coding in a bank for a big Xamarin project and trying to use Grial Front End stylings and xamls.

I opened your Full Grial project and my Xamarin project side by side and I am copying your xaml and styles to my Xamarin Project. This is my way of coding.

This picture demonstrates my problem, I can’t see any Preview because of IconsFontFamily problem at the below. What is the problem? I c

[2018-01-19 15:31] jpbrocca commented on #348
Hi @gurhangulmez, how are you?

The Xamarin Previewer has some limitations.
I suggest you try with [Gorilla Player](http://gorillaplayer.com) and Gorilla SDK which will allow you to preview Grial without issues. Please check the Grial docs about it:
http://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-previewing-grial-with-gorilla-player

You can download your Grial Full o

[2018-01-19 16:43] jpbrocca commented on #349
Hi @gurhangulmez,
As I mentioned in your previous reported issue, the Xamarin Previewer is limited.
Just to make sure, try to run your app and check. Most probably it will work but it won't be correctly previewed. If cannot compile and get errors check what it says, this will provide more clues about what could be wrong/missing.

Also, please have a look at the docs about working with font icons a

[2018-01-23 19:21] HectorOCH opened #350 "Enviar Parámetros a ContentPage contenido en CarouselPage"
Estimados, tengo un **CarouselPage** con distintos **ContentPage** contenidos, mi pregunta es: ¿Como entregarles _parámetros_ a los **ContentPage** desde el **CarouselPage**?

[code]

Necesito que **Sitio1Page**, por ejemplo reciba un parametro
[code]

Estoy utilizando el Template **WalkThroughPage.xaml**

[2018-01-23 19:50] dirivero commented on #350
Hector, hay varias opciones.

Puedes instanciar las páginas desde el code-behind del CarouselPage agregándolas a la colección de Children. De esta forma le puedes pasar parámetros como a cualquier otro objeto creado dede C#. Aquí hay algún ejemplo:

https://developer.xamarin.com/guides/xamarin-forms/application-fundamentals/navigation/carousel-page/

Alternativamente puedes definir propiedades en

[2018-01-24 08:47] gurhangulmez commented on #348
Hi @jpbrocca , fine thanks, you?

I will use gorilla player,

Thanks for your help

[2018-01-24 08:47] #348 closed

[2018-01-24 12:01] gurhangulmez opened #351 "GrialShapesFont.Close icon problem"
Hi,

I can't see GrialShapesFont.Close icons on screens,
But I am already using Grial Full Solution and I haven't changed a code about it,
Could you please help me to find the solution?

Screen Codes :

			<Label Style="{StaticResource IconCloseLabelStyle}" HorizontalOptions="End" VerticalOptions="Start" TranslationX="-20" TranslationY="35" Grid.Row="0">
				<Label.GestureRecognizers>
					<TapGes

[2018-01-24 12:20] HectorOCH commented on #350
@dirivero , definí propiedades **BindableProperties** en las **ContentPage**, asi resolví mi problema.

Muchas Gracias.

[2018-01-24 12:20] #350 closed

[2018-01-24 16:33] jpbrocca commented on #351
Hi @gurhangulmez, how are you?

Actually, it seems you can't see Grial logo (on this page it is also made through Grialshapes).

I am not sure I understood...is this happening on your downloaded Grial Full sample?...or is this just happening in your own project where you are adding stuff from Grial Full sample?

If it is the later, then, make sure in your App.xaml you have set the font like this:

[2018-01-24 19:22] HectorOCH opened #352 "Concatenacion de String en Button con un Icono"
Estimados, me gustaría saber como concatenar  un String en un Button con un icono, no concibo la forma de hacerlo.

[code]

Héctor.

[2018-01-25 10:51] jpbrocca commented on #352
Hola @HectorOCH, qué tal?
Los botones  `artina:Button` están basados en la clase `Button` de xamarin forms, por lo que no permiten utilizar simultáneamente un icono y un texto dado que en ambos casos es un único elemento el que muestra el string, por lo tanto la fuente desplegada será sólo la del icono o la del texto del botón.

Saludos,
JP

Lo que puedes hacer es usar una imagen (bitmap):
https:/

[2018-01-25 17:44] mdredmond opened #353 "Hamburger Menu Icon"
Would be very nice if the hamburger icon supplied with the startup projects was a font glyph instead of a white .png.   I styled my app with a very light accent color and there isn't enough contrast.  I get that I can fix it but it would be much easier to just apply a color to a font.

[2018-01-25 17:58] jpbrocca commented on #353
Hi  @mdredmond, how are you?

Thanks for your suggestion, it makes lots of sense.
This is something we are considering for next version.

Do you have any other suggestion?
Regards and thanks,
JP

[2018-01-25 20:55] mdredmond commented on #353
Nothing right now.  I am very early in my development and changing the theme is the first thing I did.

I am very interested in using FontAwesome, SVGs and other vector assets (e.g., Lottie animations).  The Android approach of providing multi-resolution images always seemed awkward and silly to me.  But maybe it's just me.

[2018-01-28 16:23] JamesPetras opened #354 "Android squashed"
Hi,

I've just downloaded a full sample (version 2.5.0.0) restored all NuGet packages run using Visual Studio for Mac and default Android emulator Android_Accelerated_Nugat (emulator version 26.1.4-4266726) and all forms are squashed. Please see few screenshots.

<img width="494" alt="spalsh" src="https://user-images.githubusercontent.com/16455026/35484042-cad258f8-0441-11e8-953c-9e8e10f804dd.png"

[2018-01-29 03:28] msl2000 opened #355 "Fill circle image"
Hi

I just wanted to ask how to make an image expand to fill a CircleImage. In the social page, uploading an image that is rectangular vertically leads to some space at the left and right end of the image circle which looks a bit odd.

Best regards
Marvis

[2018-01-30 03:18] denfung opened #356 "Tab Height"
Hi,

Looking at the latest release of Grial UI Kit (2.6.0.0 RC) that supports the Font Icon on Tab,  GrialTabControl.

Notice the tab is taking more space than the previous version. How can I change the tab height?

Thanks,
Dennis

![simulator screen shot - iphone 7 - 2018-01-30 at 11 14 21](https://user-images.githubusercontent.com/23342040/35546397-fe03cc48-05ae-11e8-95e8-e10f9d838df5.png)

[2018-01-30 15:21] jpbrocca commented on #355
Hi Marvis, how are you?
did you already try adding `Aspect="AspectFill"` to your CircleImage?

Best,
JP

[2018-01-30 15:22] jpbrocca commented on #355
https://github.com/UXDivers/Grial-UI-Kit-Support/issues/263
JP

[2018-01-30 15:27] jpbrocca commented on #354
Hi @JamesPetras, how are you?

Yes, most probably this is caused by the emulator.
Can you try with a real device or a different emulator (genymotion for instance), just to make sure?

Best,
JP

[2018-01-30 15:55] jpbrocca commented on #356
Hello @denfung, how are you?

Yes, you can customize almost everything about the `TabControl` through the XAML resources and templates.

You will need to locate the `TabControlCustomResources.xaml` file in your project:

[code]

Then you can change the value of the resource `CustomTabStripIconAndTextHeightRequest`.

Here I have set it to `20` to show how the height changes and the icons will resiz

[2018-01-30 16:16] denfung opened #357 "Icon Font on Tab"
Hi,

I am updating my project (with Grial 2.5) to the latest Grial 2.6.4.
Added the code below to existing TabPage xaml as below

<tab:TabItem
                                BadgeText="7"
                                IconText="{ x:Static local:GrialShapesFont.QueryBuilder }"
                                Text="Profile"

But the Icon Font is not showing.

Please find attached screenshot for t

[2018-01-30 16:35] #356 closed

[2018-01-30 17:22] denfung commented on #357
Hi JP,

It works now.

Thanks,
Dennis

[2018-01-30 17:22] #357 closed

[2018-01-31 00:11] msl2000 commented on #355
Hi jp

Thanks a lot, AspectFill made things a bit weird but AspectFit did the trick!

[2018-01-31 00:54] #355 closed

[2018-02-04 08:02] denfung opened #358 "TabControl BadgeText binding"
Hi,

Looking the TabItem supports BadgeText. I am trying to use text Binding with ViewModel, but doesn’t get display the number.

Please advice is the MVVM approach works for BadgeText.

Thanks,
Dennis

[2018-02-05 03:51] denfung commented on #358
Hi,

Would like to follow up with this. Any update?

Below is the sample code.

                         <tab:TabItem
                                BadgeText="{ Binding NotificationNumber }"
                                Text="Notification"
                                IconText="{ x:Static local:GrialShapesFont.Notifications }">
                                <views4:NotificationCardsListP

[2018-02-05 19:38] LeoHere commented on #358
@denfung we were able to reproduce the issue you mentioned. We are analyzing it. We will keep you posted of our findings.

[2018-02-06 07:19] nd-srogers opened #359 "Extending Renderers overwrites base styling"
I am trying to put a gradient as the background of one of my buttons using a method similar to the first answer here: https://stackoverflow.com/questions/37946140/set-gradient-as-button-color-renderer

I still want to use the extra features afforded to me by the ArtinaButton component, so I extended the ArtinaButton and ArtinaButtonRenderer with my custom component and renderer with extra fields t

[2018-02-06 10:07] LeoHere commented on #358
@denfung the solution to this issue is twofold: to update your `UXDivers.Artina.*` packages to version `2.6.6.RC` and to change the `Badge.xaml` under `Views\Common`.

The Badge should be:

[code]

meanwhile the `Badge.xaml.cs` should be:

[code]

When replacing remember to keep the values of `xmlns:local` and `x:Class` you currently have on your solution. Also keep the namespace in your `Badge.xa

[2018-02-06 14:00] denfung commented on #358
Hi Leo,

The fix works. Thanks so much.

Dennis

[2018-02-06 15:25] denfung opened #360 "TabControl's TabSlected Event"
Hi,

Looking at the TabControl's TabSelected eventHandler. Does it support command binding with ViewModel?

Below is my sample code.

                     <tab:TabControl
                            TabStripPlacement="Bottom"
                            StyleClass="iOSTabControlStyle" **TabSelected="{Binding Handle_TabSelected}"** >
                            <tab:TabItem

[2018-02-06 15:46] #358 closed

[2018-02-06 16:37] dirivero commented on #359
Hi,

The current version of ArtinaButtonRenderer does not do anything, it only derives from Xamarin.Forms.Platform.Android.ButtonRenderer. In older versions it added the border properties but that's not needed anymore.

You can find more info here: https://bugzilla.xamarin.com/show_bug.cgi?id=36031

This means that you can extend directly from the Xamarin ButtonRenderer (make sure not to use the a

[2018-02-07 00:52] nd-srogers commented on #359
@dirivero Changing the renderer does demonstrate that, however something else must be going on.

I tried the following:

    <components:GradientButton Text="Get Started" Style="{StaticResource RoundedButtonStyle}"
                                           VerticalOptions="EndAndExpand"
                                           HorizontalOptions="{ artina:OnOrientationLayoutOptions PortraitPhone

[2018-02-07 03:25] mikeatmarvel opened #361 "CachedImageRenderer.Init(); Failed to run on Android from Fresh Project download"
Upon downloading the Grail project from the uxdrivers website, then cleaning all, then restore nuget and update nuget, I received a fail to build when trying to run on Android simulator.  The failure was "There is no argument given that corresponds to the required formal parameter 'enableFastRenderer' of 'CachedImageRenderer.Init(bool?)'"

I can not run the application on Android.  iPhone runs per

[2018-02-07 05:34] gurhangulmez opened #362 "How to change Active State TabStrip BackgroundColor"
Hi,
I want to change a TabStrip BackgroundColor when its state is Active.

Isn't there a property name like TabStripActiveStateBackgroundColor?

I tried a lot of property name like this, but all of them failed and I couldn't find any documentation about it.

Thanks for your help

![strip](https://user-images.githubusercontent.com/13269673/35900186-9f368866-0be1-11e8-8e39-88a8ca861dfd.png)

[2018-02-07 09:50] LeoHere commented on #360
@denfung in order to react to a tab change in your view model you can use two way binding with `SelectedIndex` or `SelectedItem` properties and react accordingly when they change. `TabSelected` expects a event handler, that is why you are getting the above error. We currently don't provide any `TabSelectedCommand` or similar.

[2018-02-07 09:55] LeoHere commented on #361
@mikeatmarvel this is a breaking change introduced by [FFImageLoading](https://github.com/luberda-molinet/FFImageLoading) so users choose between using fast renderers or not. If you download the latest version of Grial you will see this parameter is set to `false`. AFAIK you can set it to `true` and it should work fine. We ship Grial with the parameter in `false` because we didn't fully tested yet

[2018-02-07 14:38] mikeatmarvel commented on #361
Leo-

I downloaded straight form Grail site as a fresh project and it does not run.  I also set the parameter to fastrendererenabled to false as well as true without success.  Thus, for me the project was not shipped with it at false.  Am I downloading the incorrect project from your site.  I love your product and want to upgrade to the PRO version but I want to resolve this before I commit.  Many

[2018-02-07 15:32] ufuf opened #363 "Xamarin Preview Resx error"
After migrating my project to Grial I started to get an error on preview which prevents views to be loaded.

You can find the error screenshot attached.
![screen shot 2018-02-07 at 18 32 16](https://user-images.githubusercontent.com/4348233/35924942-7b0f7f5c-0c35-11e8-99e9-80dd97c1f94d.png)

[2018-02-07 18:22] LeoHere commented on #361
@mikeatmarvel my bad. I was talking about Grial 2.6 (.NET Standard based) with is still in RC mode. You probably downloaded 2.5.2 which depends on an older version of FFImageLoading, where that parameter was not required.

I have just downloaded Grial based on 2.5.2, updated FFImageLoading to 2.3.4.

Changed `CachedImageRenderer.Init();` to `CachedImageRenderer.Init(false);` and run it, and it wor

[2018-02-07 20:31] dirivero commented on #359
The last one is rendered through the appcompat ButtonRenderer because that's the default one, that's why the corner has the default minimum radius in that case.

Going back to your renderer, it seems you are overriding the background generated by the Xamarin renderer. Please take a look at this helper class used by the Xamarin renderer to draw the background and outline (border + radius):

https:/

[2018-02-08 03:55] nd-srogers commented on #359
That got me on the right track. Basically because `GradientDrawable` implements `Drawable` I had to implement my own `GradientButtonDrawable` that takes codes from both `ButtonDrawable` and `GradientDrawable` to get the correct result.

I'll close this issue since it isn't related to Grial. Thanks for your help.

[2018-02-08 03:55] #359 closed

[2018-02-08 19:11] jpbrocca commented on #363
Hi @ufuf,
Please check this related issue:
https://github.com/UXDivers/Grial-UI-Kit-Support/issues/348

Best,
JP

[2018-02-08 21:22] jpbrocca commented on #362
Hi @gurhangulmez, how are you?

There is no such property per se.
The reason is that Grial Tab Control is totally customizable through XAML templates.

So for example, if you want to change the tab item selected color you will need to edit the resources:

[code]

In the above code, there is a specific resource used to set the background color.
It is commented because in the context of Grial sample

[2018-02-10 03:36] txk103 commented on #330
Hi,

I'm also experiencing difficulties in getting FontAwesome running. I believe we have version 2.0

What I have done:

- [ ]  App.xaml commented out `<x:String x:Key="IconsFontFamily">grialshapes</x:String>` and uncommented `<x:String x:Key="IconsFontFamily">FontAwesome</x:String>`
- [ ]  In the Droid project, set `fontawesome-webfont.ttf` file to `AndroidAsset`

I don't have anything that remo

[2018-02-10 11:45] mikeatmarvel commented on #361
@LeoHere Thank you for your help.  Here is the issue I am now running into after I changed to

CachedImageRenderer.Init(false);

Android.Content.Res.Resources+NotFoundException: Resource ID #0x0
  at android.content.res.Resources$NotFoundException: Resource ID #0x0
  at at android.content.res.ResourcesImpl.getValue(ResourcesImpl.java:190)
  at at android.content.res.Resources.getValue(Resources.ja

[2018-02-12 09:37] musab-alrmmah opened #364 "RTL nav bar does not appear"
When the nav bar appears, the Language Switch button does not appear

![28033265_1701016506625724_1613191969_o](https://user-images.githubusercontent.com/17981288/36090455-79c1cc1c-0ff1-11e8-95b3-b14d21fab2f8.png)

[2018-02-12 14:02] jpbrocca commented on #330
Hi @txk103, how are you?

A couple of questions:

1) It seems you are trying to add Grial to an existing project, right?
2) What version of Grial are you using? It seems to be an old version. The `CustomFontLabelRenderer` is deprecated. The right way of getting the right font applied on Android is through something like this:

[code]

For Android is not enough to set the file name. If you don't po

[2018-02-12 14:05] jpbrocca commented on #364
Hi @musab-alrmmah, how are you?

Can you provide more details about your issue?

1. What are you running? Is that a Grial PRO + RTL Full sample?
2. Is it your own project with pages you are copying from Grial full sample? If so...did you follow steps from documentation to enable and properly use RTL?
http://uxdivers.github.io/Grial-UI-Kit-Support/rtl-page.html

Best,
JP

[2018-02-13 09:22] voicebooth opened #365 "Xamarin Live Player: Samples not working"
Hi,

I just purchased the Pro kit, and have downloaded the full and starter samples to run on the latest version of iOS via Live Player, but Live Player is reporting an error along the lines of:

Cannot throw "UXDrivers.Artina.Shared.LicenseException"

What can I do to get the samples up and running?

[2018-02-13 13:22] eglibecerra opened #366 "Purchased Pro License, I downloaded the 2.6.0.0 RC Full Sample Gorilla Ready"
Hi,
Purchased Pro License, I downloaded the 2.6.0.0 RC Full Sample Gorilla Ready, been trying to get this working for 2 days I've given up trying. (we have so many potential pro license purchases lined up, so if you can help it will be win win for us)

Just trying to be able to view the virigin un modified solution in Gorilla Player, I have my vs2017 extension installed, and my devices connected t

[2018-02-13 14:56] jpbrocca commented on #366
Hi @eglibecerra, how are you?

I tried to reproduce your issue but I couldn't.
Here are the steps I followed:

1. I configured my app to use 2.6 RC
![image](https://user-images.githubusercontent.com/15996999/36155481-3eb71920-10b3-11e8-9c5a-872cc0bf653e.png)
2. I downloaded Grial Full sample with Gorilla SDK pre-configured
![image](https://user-images.githubusercontent.com/15996999/36155509-51aad6

[2018-02-13 15:00] jpbrocca commented on #365
Hi @voicebooth, how are you?

Xamarin Live Player is still immature and have limitations.
I suggest you to use [Gorilla Player](gorillaplayer.com) which is free and will provide the best experience to work with Grial (we made Grial using Gorilla Player).

I am closing this issue now since it is a duplicate (Please check this related issue:
#348), but feel free to reopen if needed.

Best,
JP

[2018-02-13 15:00] #365 closed

[2018-02-14 01:39] eglibecerra commented on #366
So i figured this out by browsing through several git issues, I realized that it needed to run the app through gorilla mode to open de gorilla sdk (its very obscure in documentation not as explicit) thanks for providing a very detail documentation. So one thing i needed to do was restart vs2017 (im on a pc not a mac btw) turn off my firewall for private network, I added an exclussion for the goril

[2018-02-14 11:34] LeoHere commented on #366
Hi,

1) You need to put `gorilla.exe` as a firewall exception. Both for TCP/UDP. UDP is used for auto discovery. UDP usually is not routed across access points/routers. So it is important both you desktop machine and you preview device to be connected to the same wireless network/router.
2) When you run Grial using Gorilla configuration, what you are doing is lunching Gorilla Player preview app pr

[2018-02-14 14:16] eglibecerra commented on #366
Hola Leo,

Thanks for explaining it point 2 made it all really clear, so then the question is whats the purpose of the Gorilla App in the AppStore? i guess this is what confuses everyone, but now that you mentioned it, it makes perfect sense. So in order to have the gorilla player functionality you have to deploy the gorilla from your IDE to your device, once there providing you didnt alter code a

[2018-02-14 14:18] #366 closed

[2018-02-15 09:50] LeoHere commented on #366
Hola!

The Gorilla app in the App Store allow you to preview XAML that makes uses of basic XF components + some popular libraries (like Prism, FFImageLoading, etc). Usually it's used to start with Gorilla or for educational proposes.

[2018-02-15 16:53] chrisgate opened #367 "What is the better ways of adding UWP to Grial-UI"
Since UXDivers are not supporting UWP for any reason.

From the community what is the better ways of integrating UWP to the downloaded Grial-UI project.

Thanks.

[2018-02-18 06:50] ombinar opened #368 "Logout/Login correctly"
Hello,

Is there a documentation on logging out correctly so it starts over creating new instance (eg ViewModel)?

When I log out, I redirect to Login Page and the side panel and my homepage list still contains old data when I log in again.

Thanks.

[2018-02-18 13:08] #368 closed

[2018-02-18 13:09] ombinar commented on #368
Disregard question.

[2018-02-18 17:14] sadranyi commented on #231
we having similar issues @james-lavery  did you leave it at SDK only before doing a clean and full rebuild ?

[2018-02-18 20:00] sadranyi commented on #242
Hi we have been having these error when trying to publish a release version of our app. find below the log

FATAL EXCEPTION: ControllerMessenger
Process: com.eaiinsurance, PID: 8340
android.runtime.JavaProxyThrowable: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.MissingMethodException: Default constructor not found for type UXDi

[2018-02-18 20:02] sadranyi opened #369 "UxDivers.Effects.Droid.CornerRadiusEffect Release Build errors"
FATAL EXCEPTION: ControllerMessenger
Process: com.eaiinsurance, PID: 8340
android.runtime.JavaProxyThrowable: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.MissingMethodException: Default constructor not found for type UXDivers.Effects.Droid.CornerRadiusEffect
  at System.RuntimeType.CreateInstanceMono (System.Boolean nonPublic)

[2018-02-18 20:45] sadranyi commented on #224
after adding the ignore list, now we are getting "**_Default constructor not found for type UXDivers.Effects.Droid.CornerRadiusEffect"_** any help on this would be really appreciated.

[2018-02-19 16:07] LeoHere commented on #224
@sadranyi you will need to exclude the assemblies `UXDivers.Effects`, `UXDivers.Effects.iOS` and `UXDivers.Effects.Droid`.

**iOS**

Additionally skip:

[code]

**Android**

Additionally ignore:

`UXDivers.Effects;UXDivers.Effects.Droid`

[2018-02-19 16:13] LeoHere commented on #369
Please take a look at my answer #224

[2018-02-19 16:14] LeoHere commented on #242
@sadranyi take a look at #224

[2018-02-19 16:40] sadranyi commented on #224
@LeoHere  thanks figured this out somehow, yesterday, seems to work now.  my question though which classes should be preserved aside the themes and possible font and GrailShape Classes ?

[2018-02-20 09:56] LeoHere commented on #224
@sadranyi glad to head that! Any class that you reference from your XAML and not from your code must be marked with the preserve attribute.

[2018-02-20 15:42] omaarmostafa opened #370 "UWP Support issue"
Hello,
 i got Grial kit pro license
and added UWP project to the solution and added all references to it
but when i'm run it gives me exception "Grial UI Kit license not initialized,please call 'UXDivers.Artina.Shared.GrialKit.Init(<License>)'
the problem now i can't write this line of code
because **GrialKIT** is not loaded and i can't call it.

[2018-02-21 01:18] sadranyi commented on #224
Am a bit confused, what do you mean by XAML code?

On Feb 20, 2018 1:56 AM, "Leo Rodríguez" <notifications@github.com> wrote:

@sadranyi <https://github.com/sadranyi> glad to head that! Any class that
you reference from your XAML and not from your code must be marked with the
preserve attribute.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<

[2018-02-21 13:52] LeoHere commented on #224
In order to optimize the size of the app, Xamarin shrinks it as much as possible by only keeping the parts of the dependent assemblies you actually use in your app.

In order to determine what you app uses, it analyzes your code but not your XAML files. So, you must explicitly mark with the preserve attribute all the stuff that is only used in the XAML.

[2018-02-22 07:41] musab-alrmmah opened #371 "CircleImage"
How to set Source in CircleImage by type Image in XML

  <artina:CircleImage Source="{Binding image}"  // image is type image (convert from base64) from message class
			Style="{ StaticResource Avatar }"
			Aspect="AspectFill"
			HorizontalOptions="Center"
			VerticalOptions="Start"
			TranslationX="{ DynamicResource MessageItemTemplateAvatarTranslationX }"
			TranslationY="14"/>

[2018-02-22 09:44] muhaym commented on #336
@jpbrocca Could you please share the Link to the Xamarin Forms Xaml C issue?
Is it #https://github.com/xamarin/Xamarin.Forms/issues/1316

Because I tried to upgrade our Project to .NET Standard, Even with latest Xamarin.Forms, for code like OnPlatform, Xaml C Build is failing. Is it because I have Grial in the project?

[2018-02-22 15:29] jpbrocca commented on #336
Hi @muhaym,
Yes, that was the issue.
Also, this one is related:
https://bugzilla.xamarin.com/show_bug.cgi?id=60452

If you upgrade to latest Xamarin Forms (2.5.0.280555) it should work but, they introduced another bug affecting how android buttons are rendered. We are working on a fix for this issue, then, probably next week we will release our update as RTM.

Best,
JP

[2018-02-22 15:40] jpbrocca commented on #371
Hi @musab-alrmmah,

`<artina:CircleImage>` derives from `<Image>`, so the correct type for the `Source` attribute should be `ImageSource`:

https://developer.xamarin.com/api/type/Xamarin.Forms.Image/
https://developer.xamarin.com/api/type/Xamarin.Forms.ImageSource/

Best,
JP

[2018-02-22 15:40] #371 closed

[2018-02-22 16:21] muhaym commented on #336
Hi @jpbrocca, I did update to Xamarin Forms 2.5.280555, but not to Grial 2.6.0.0, I am facing the build issue? Is it because of Grial or the above bug mentioned?

[2018-02-22 16:31] jpbrocca commented on #336
OK, I assumed you had Grial 2.6.0.0 RC on your project.

Grial shouldn't be causing this.
You can try deleting the "obj" and "bin" folders of every project, closing Visual Studio, reopen and try to compile again.

If this still happening then please, send your project attached to:
![image](https://user-images.githubusercontent.com/15996999/36550665-90fe603a-17d4-11e8-9b4c-b8fe6db29e10.png)

...so

[2018-02-22 20:34] chrisgate commented on #370
same issues here

[2018-02-25 08:28] chrisgate opened #372 "It's surprising to know a premium product like GRIAL UI have almost zero support"
When they decided to reply u it's a week or more with no support at All.... since I bought it I just left  it somewhere. It supposed to make my development easier but now with zero support it's otherwise.

[2018-02-26 10:11] LeoHere commented on #367
Hi @chrisgate,

Sorry for the delay.

There are 3 main challenges in order to run Grial in UWP:
1. Initialize Grial, including validating the license.
2. Have all the dependency services Grial relies on in place.
3. Have all the custom renderers in place.

Solving 1 and 2 is a must, if not runtime exceptions will be thrown as soon as you run your app. The absence of custom renderers (3) will cause

[2018-02-26 10:12] LeoHere commented on #370
@omaarmostafa please take a look at issue #367.

[2018-02-26 10:15] LeoHere commented on #369
Closing the issue now. Feel free to open it again is you need to.

[2018-02-26 10:15] #369 closed

[2018-02-26 10:19] LeoHere commented on #360
Closing the issue now. Feel free to open it again is you need to.

[2018-02-26 10:19] #360 closed

[2018-02-26 10:19] LeoHere commented on #362
Closing the issue. Feel free to open it again is you need to.

[2018-02-26 10:19] #362 closed

[2018-02-26 10:20] LeoHere commented on #352
Closing the issue. Feel free to open it again is you need to.

[2018-02-26 10:20] #352 closed

[2018-02-26 10:21] LeoHere commented on #351
Closing the issue. Feel free to open it again is you need to.

[2018-02-26 10:21] #351 closed

[2018-02-26 10:22] LeoHere commented on #349
Closing the issue. Feel free to open it again is you need to.

[2018-02-26 10:22] #349 closed

[2018-02-26 10:22] LeoHere commented on #344
Closing the issue. Feel free to open it again is you need to.

[2018-02-26 10:22] #344 closed

[2018-02-26 10:25] LeoHere commented on #343
Closing the issue. Feel free to reopen it if you need so.

[2018-02-26 10:25] #343 closed

[2018-02-26 10:26] #340 closed

[2018-02-26 10:27] LeoHere commented on #335
Closing the issue. Feel free to reopen it if you need so.

[2018-02-26 10:27] #335 closed

[2018-02-26 10:38] LeoHere commented on #333
This is an old post, and probably you already had moved on with this, but we recently have found the cause of this issue.

[This](http://www.openradar.me/30396879) is the issue we are hitting. The camera slider is causing the issue.

A possible workaround for this issue is:

Instead of doing this:

[code]
do this
[code]

By passing null non of the appearance colors will be set by Grial.

After inv

[2018-02-26 10:39] LeoHere commented on #333
Closing the issue now. Feel free to open it again is you need so.

[2018-02-26 10:39] #333 closed

[2018-02-26 10:41] LeoHere commented on #317
@qaliwebguru this issue does not seems to be related to Grial. Closing the issue. Feel free to open a new one if you need to.

[2018-02-26 10:41] #317 closed

[2018-02-26 10:42] LeoHere commented on #331
@IWantMyApp I think this issue was already addressed by email. Closing the issue. Feel free to reopen it if you need to.

[2018-02-26 10:42] #331 closed

[2018-02-26 10:47] #290 closed

[2018-02-26 10:48] LeoHere commented on #283
Closing the issue. Feel free to reopen it if you need so.

[2018-02-26 10:48] #283 closed

[2018-02-26 10:54] LeoHere commented on #287
This issue is old. I guess you already found a solution for it or you switch to out Net Standard version of the libraries.

Anyways, closing the issue. Please feel free to reopen it if you need so.

[2018-02-26 10:54] #287 closed

[2018-02-26 12:40] musab-alrmmah opened #373 "use MaterialIcons"
how to use MaterialIcons inside project ?

[2018-02-26 15:12] jpbrocca commented on #348
Hi @gurhangulmez,

What do you mean?
Are you not being able to preview through Gorilla Player?

Best,
JP

[2018-02-26 16:01] jpbrocca commented on #373
Hi @musab-alrmmah,

Normally as when you work with any icon font you will need to download the font containing the icons, then add it to your platform projects.
And you will need to reference each icon by its char to use them.

I did a fast search on Google and it seems Material Icons use ligatures:
http://google.github.io/material-design-icons/#icon-font-for-the-web
http://alistapart.com/article/

[2018-02-27 03:36] denfung opened #374 "TabControl with ContentPage"
Hi,

Looking at the Grial UIKit's TabControl. It is possible to use ContentPage instead of ContentView? Below is my sample code.

                         <tab:TabItem
                                BadgeText="{Binding NotificationNumber}"
                                Text="Notification"
                                IconText="{ x:Static local:GrialShapesFont.Notifications }">

[2018-02-27 05:01] gurhangulmez commented on #348
Hi,
The problem is
After I select "Stick Gorilla to this" on a Xaml file, "Additional SDK
configuration needed" message comes up.

2018-02-26 18:12 GMT+03:00 jpbrocca <notifications@github.com>:

[2018-02-27 05:48] musab-alrmmah commented on #373
i preview this link
https://github.com/jsmarcus/Xamarin.Plugins/tree/master/MaterialIcons
but This error appears	(Failed to resolve assembly: 'MaterialIcons.FormsPlugin.Abstractions, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null')

[2018-02-27 17:38] LeoHere commented on #348
Hi @gurhangulmez,

Looks like you are using the player downloaded from the store, not Gorilla Player SDK.

You need to use Gorilla SDK. Did you downloaded Grial with Gorilla SDK preconfigured? [This](https://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-previewing-grial-with-gorilla-player) shows you the workflow and give a step by step explanation of what needs to be done

[2018-02-28 15:54] jpbrocca commented on #374
Hi @denfung, how are you?
No, the TabControl was made with the goal of allowing to have tabs within a page.

Best,
JP

[2018-02-28 19:18] faceoffers28 opened #375 "Toggle between Favorite and FavoriteBorder icon on ProductItemViewPage"
I would like to toggle between the Favorite and FavoriteBorder icon when something happens. Here is my XAML code.

NOTE: The GestureRecognizer code base posted below won't display correctly in the GitHub code formatter, so I had to move it below.

`
<Label x:Name="favoriteLabel" Grid.Row="0" Text="{Binding CurrentOffer.SaveStatus}" FontSize="{ artina:OnOrientationDouble
				Default=28,
				Portrai

[2018-02-28 22:45] havardo opened #376 "UXDivers nuget fail to load. 401 (Unauthorized) – tried everything"
I am having no luck loading nuget from uxdivers.com after changing the password on the Nuget server. The identical setup works fine on other machines. The pc with issues connected to the uxdivers nuget server first with other credentials. I have since removed these credentials, without this helping anything.

Have tried all the tips that I have found. This include using nuget.exe, the VS nuget con

[2018-03-01 15:47] LeoHere commented on #376
@havardo are you able to authenticate agains [http://nuget.uxdivers.com/grial](http://nuget.uxdivers.com/grial) if you visit the url from your browser?

[2018-03-01 23:02] havardo commented on #376
Yes, I tried that and it works like a breeze (forgot to mention this). Even tried with a few different browsers. Just tested the whole thing again after a full reboot. The 401 message came first, but subsequent attemtps to restore packages will just give me this one:
Error occurred while restoring NuGet packages: Failed to retrieve information about 'UXDivers.Artina.Controls.Repeater' from remote

[2018-03-02 05:04] kberawala opened #377 "buttons style doesnt appear to be as in sample"
![image](https://user-images.githubusercontent.com/13636878/36884176-d5df2f48-1e2a-11e8-88e6-536719b9857d.png)

please let me know how to fix the button styling.

[2018-03-02 09:30] jpbrocca commented on #377
Hi @kberawala,

This is caused by latest xamarin forms version:
https://github.com/xamarin/Xamarin.Forms/issues/1909

We are working on a fix.

Best,
JP

[2018-03-02 11:01] LeoHere commented on #270
Closing the issue. Feel free to open it again if you need to.

[2018-03-02 11:01] #270 closed

[2018-03-02 11:03] LeoHere commented on #268
Closing the issue to keep things tight. Feel free to open it again if you need to.

[2018-03-02 11:03] #268 closed

[2018-03-02 11:04] LeoHere commented on #256
Closing the issue to keep things tight. Feel free to open it again if you need to.

[2018-03-02 11:04] #256 closed

[2018-03-02 11:05] LeoHere commented on #251
Closing the issue. Feel free to open it again if you need to.

[2018-03-02 11:05] #251 closed

[2018-03-02 11:08] LeoHere commented on #376
@havardo that is really weird. Is it possible that you still have your old credentials in a `Nuget.config` file in the file system?

[2018-03-03 09:01] voicebooth commented on #336
Any ideas when 2.6.0.0 will go to RTM?

[2018-03-03 10:16] LeoHere commented on #336
@voicebooth it is planned for early next week.

[2018-03-03 10:17] LeoHere commented on #182
Closing the issue. Feel free to reopen it if you need so.

[2018-03-03 10:17] #182 closed

[2018-03-03 10:20] LeoHere commented on #162
Closing the issue. Feel free to reopen it if you need so.

[2018-03-03 10:20] #162 closed

[2018-03-03 10:21] LeoHere commented on #78
Closing the issue to keep things tight. Feel free to reopen it if you need so.

[2018-03-03 10:21] #78 closed

[2018-03-03 10:23] LeoHere commented on #66
Closing the issue. Feel free to reopen it if you need so.

[2018-03-03 10:23] #66 closed

[2018-03-04 02:21] denfung opened #378 "Dashed bolder"
Hi,

I am trying to create a ContentPage which allow user to add Photo from camera.

I need to create a placeholder with the dashed/dotted border line and “+” sign at the middle.

Does Grial UIKit allows to create dashed/dotted line border for frame or box control?

Please advice.

Thanks,
Dennis

[2018-03-05 08:37] havardo commented on #376
Thanks for looking into this @LeoHere. There are no Nuget.config files on the system. I will try to configure a new project and see if that behaves the same (unless you or any body else have any other ideas). After that, I will see if wiping the folders and reload from source control makes any difference.

[2018-03-05 09:44] thorradin opened #379 "UXDivers.Artina.Shared.LicenseException: Internal license validation error."
The issue happens when I change the language of the device from English to Arabic.
The runs normally when the device language is English but, when I change the device language to Arabic I get this error **_UXDivers.Artina.Shared.LicenseException: Internal license validation error._**

The doesn't even go to the splash screen the first thing it does is crash and give the error.

I debug the app on

[2018-03-05 10:23] thorradin commented on #379
Never mind, I changed the internationalization settings on the iOS platform and everything worked out thanks.

[2018-03-05 10:23] #379 closed

[2018-03-05 12:57] sandrea commented on #331
Hi, it would a very good help if you put the solution here, please. I have the same problem. Thank you very much.

[2018-03-05 13:09] LeoHere commented on #331
@sandrea please write me to l r o d r i g u e z at uxdivers.com explaining your case. Thanks

[2018-03-05 14:22] #374 closed

[2018-03-06 16:39] jpbrocca commented on #378
Hi @denfung, no Grial does not allow to add such borders.
The easiest way for you would be creating an image with those borders and the "+" icon.

Best,
JP

[2018-03-06 16:39] #378 closed

[2018-03-07 19:57] muhaym opened #380 "Grid Height / Width in Star using responsive helper`"
`<RowDefinition Height="{artina:OnOrientationString Portrait=Auto,Landscape=*}"/>`

Is this possible?

[2018-03-08 03:34] faceoffers28 opened #381 "Can't get iOS Splash Page to pick up my images"
I added splash.png, splash@2x.png and splash3x.png to the Resource folder. I then added the files to the  iOS project as a BundleResource. I did a clean and a rebuild, but I can't get my images to display.

I then tried editing the Storyboard. I'm getting this error when trying to edit Splash.storyboard. I am using Visual Studio on Windows 10 and XCode 8.2.1 on my Mac.

This file has been edited i

[2018-03-08 10:47] muhaym commented on #380
Any plans? or can we do implement with any work around?

[2018-03-08 12:02] LeoHere commented on #380
A possible workaround is to bind the `RowDefinition.Height` to a property in the view model that returns the appropriate `GridLength` based on the orientation.

You can use the `UXDivers.Artina.Shared.IDeviceOrientationServiceLocator` service (available through the XF dependency services) to get an instance of `UXDivers.Artina.Shared.IDeviceOrientation`. `IDeviceOrientation` has properties that le

[2018-03-09 11:15] havardo commented on #376
Thanks @faceoffers28. I finally got this to work setting up the <packageSourceCredentials> AppData\Roaming\NuGet\NuGet.Config File using the admin account (NOT the nuget access account). Please note - the admin account is without domain prefix. Just email address.

It appears that the dedicated nuget access account is failing on this PC after the password was changed. I tried to remove all traces

[2018-03-09 11:15] #376 closed

[2018-03-11 08:28] szaid07 opened #382 "Failed to fetch results from V2 feed at 'http://nuget.uxdivers.com/grial/Packages"
i am getting authorization error while restoring nuget packages.

http://nuget.uxdivers.com/grial: Failed to fetch results from V2 feed at 'http://nuget.uxdivers.com/grial/Packages(Id='UXDivers.Artina.Controls.Repeater',Version='2.6.9')' with following message : Response status code does not indicate success: 401 (Unauthorized).

[2018-03-11 08:41] szaid07 commented on #251
I am getting Response status code does not indicate success: 401.

[2018-03-12 09:28] musab-alrmmah opened #383 "Merge between Font Attribute and Font Family in same Label"
How to  Make TextLabel is Bold and custom FontFamily  in same Label  in MessageListPage

Read/UnRead

[2018-03-12 12:36] MicaNareia commented on #169
Hi @matthewfrost by default the android app is using the holo dark theme, simply change it to Holo.Light in the AndroidManifest.xml (that's the problem)

code:
 <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
 <application android:theme="@android:style/Theme.Holo.Light"/>

[2018-03-13 05:18] szaid07 opened #384 "License Exception Error."
I have attached the error log ''UXDivers.Artina.Shared.LicenseException" please give some solution ASAP.

[XLP_Logs_18-03-12_15-36-02.txt](https://github.com/UXDivers/Grial-UI-Kit-Support/files/1805548/XLP_Logs_18-03-12_15-36-02.txt)

[2018-03-13 09:35] LeoHere commented on #384
Hi @szaid07, can you please provide more details about when are you getting this exception?
- The Xamarin Live Player is mentioned in the logs. Does the exception happens only within the XLP?
- Does the exception happens when executing the app?
- When did this exception start to happen?

The logs does not shows the `LicenseException`'s companion message. It is crucial to see it since it usually sp

[2018-03-13 21:59] jpbrocca commented on #383
Hi @musab-alrmmah,

Not sure what you are asking...you can change directly the styles on the template being used by that page:

`MessageItemTemplate.xaml`

...so you can set bold attribute and font family as needed.

Best,
JP

[2018-03-13 21:59] #383 closed

[2018-03-13 22:03] jpbrocca commented on #381
Hi @faceoffers28,

please take a look at this related issues:

https://github.com/UXDivers/Grial-UI-Kit-Support/issues/228

https://github.com/UXDivers/Grial-UI-Kit-Support/issues/314

I did a fast search and it seems he storyboard issue seems to be related to these bugs:

https://bugzilla.xamarin.com/show_bug.cgi?id=44330
https://forums.xamarin.com/discussion/106112/storyboard-does-not-load-anymo

[2018-03-13 23:32] eglibecerra commented on #384
This also started happening for me today... how long does the license last? do i need to refresh the license whats the go?

[2018-03-13 23:36] eglibecerra commented on #384
just checked the admin it was an expired license...

[2018-03-14 12:06] eglibecerra opened #385 "Upgrading from 2.6.0 RC to RTM"
Hello perhaps this is not an issue but more of a question.

Whats the process to update to 2.6.0 RTM for an existing app that is still "Work in Progress"
I doubt I need to re download the new version, Can someone please provide a bit of guidance here.

Cheers

[2018-03-14 12:59] LeoHere commented on #385
@eglibecerra Is your work in progress project based on 2.6 RC?

[2018-03-14 13:48] eglibecerra commented on #385
yeah mate its based on 2.6 RC

[2018-03-14 17:42] LeoHere commented on #385
@eglibecerra you just need to upgrade Forms to `2.5.0.280555` and `UXDivers.Artina.Shared` packages to `2.6.9`. The 2.6 RTM has some other minor changes in the sample solution, but those should not affect you.

[2018-03-14 17:52] LeoHere commented on #384
@eglibecerra please read [this link](https://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-grial-first-run-license-modes) which explains how license mode work.

[2018-03-14 17:54] LeoHere commented on #384
@eglibecerra please read this [link](https://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-grial-first-run-license-modes) which explains how license modes work.

[2018-03-15 05:05] eglibecerra commented on #385
Thanks Leo, ill give it a go 👍

[2018-03-15 07:28] szaid07 commented on #364
i want to change the text of rtl button in navigation bar where i can find it

[2018-03-15 17:12] jpbrocca commented on #364
Hi @szaid07,

This button uses an image which you can locate here:

[code]

Best,
JP

[2018-03-15 19:59] sadranyi commented on #216
System.ArgumentNullException: Value cannot be null.
Parameter name: image occurred in Main.cs for iOS project

[2018-03-15 20:00] sadranyi opened #386 "enabledRemoteNotificationTypes not supported errors"

[2018-03-15 20:04] jpbrocca commented on #386
Hi @sadranyi,

in order to help us to understand your issue can you please let us know:

- Which version and flavor of Grial are you using?
- Which version of Xamarin Forms are you using?
- Which platform gives this error?

Also a little bit of context of when and how you get this error would also help.

Thanks,
JP

[2018-03-15 21:02] sadranyi commented on #386
Version: v2.5.14-RC
Xamarin: 2.5.0.122203
Platform: iOS

The Application works fine in Android, just trying to run it on iOS and i keep running into this. I cant get past the splash screen

[2018-03-15 21:11] jpbrocca commented on #386
Can you provide more context?

Is this happening in your Grial Starter or Grial Project?

[2018-03-15 21:18] sadranyi commented on #386
Grial Project

[2018-03-15 21:52] jpbrocca commented on #386
Did you add any third party package or this is just the Grial project you downloaded from Grial Admin?

[2018-03-15 23:27] sadranyi commented on #386
just the Grial

[2018-03-16 16:59] jpbrocca commented on #386
Could you try updating to latest Xamarin Forms and also to the latest version of Grial packages and let me know if the issue persists?

I downloaded both Grial Starter and Grial Full samples from Grial Admin, restored packages and updated to latest and I don't get any issue.

Best,
JP

[2018-03-16 17:05] sadranyi commented on #386
Will try that.

On Fri, Mar 16, 2018, 9:59 AM jpbrocca <notifications@github.com> wrote:

[2018-03-17 06:18] szaid07 opened #387 "Please provide a proper documentation."
Proper documentation for where i can find the components which are added in the project which will be easy.
just like i want to edit the rtl button on navigation bar but i cant find that button.
and now i want to use the article list with full image but i cant find it.

[2018-03-19 10:38] nsy738 opened #388 "how to use FillAndExpand in button"
![2018-03-19_18-35-01](https://user-images.githubusercontent.com/31877682/37590786-5556e258-2ba4-11e8-9943-139f5c525149.png)

I tried to let the button fill the whole space automatic.
but I can't make it. any suggestion on this
have any documentation can search for those setting?

`<artina:Button
							Style="{StaticResource SquareActionButtonStyle}"
					        Text="{Binding Name}"

[2018-03-19 17:08] MarcusSpecht opened #389 "There was a conflict between mscorlib 4.0.0.0 and 2.0.5.0"
Using `Grial Starter - Gorilla Ready` with `Grial 2.6.9.0`.

If I build Droid project with VS 2017 15.6.2 i get the following warning but build is successful.

[code]

Using visual studio appcenter CI with Mono Version 5.4.1 does not build with error:

[code]

I tried updating all nuget packages hoping this resolves the issue but for the android project I always get `collection is readonly` error.

[2018-03-19 18:05] jpbrocca commented on #387
Hi @szaid07,

You can find Grial documentation here:
http://uxdivers.github.io/Grial-UI-Kit-Support/docs.html

Here you can have more details about Grial's custom renderers:
http://uxdivers.github.io/Grial-UI-Kit-Support/renderers.html

About the RTL button, I already have answered your previous post about that topic here:
https://github.com/UXDivers/Grial-UI-Kit-Support/issues/364

About your las

[2018-03-19 18:19] jpbrocca commented on #388
Hi @nsy738,

I could not reproduce your issue.

Just a couple of comments:

- You don't need to set the responsive helper for each orientation case and device type if you want to achieve the same behavior. Just set the `VerticalOptions` or `HorizontalOptions` to `FillAndExpand` and that would be all.
- I tried with your code, and just replaced the `SquareActionButtonStyle` with `PrimaryActionButto

[2018-03-20 03:51] kberawala commented on #377
do you have an ETA for fix for this ?

[2018-03-20 12:29] LeoHere commented on #389
@MarcusSpecht does this warning happens in the `Grial Starter - Gorilla Ready` without modifications? Or did you updated the packages / installed new packages?

I was not able to reproduce the issue.

When are you getting this `collection is readonly` error? As soon as you hit update in any package? Is this error reported by nuget? VS?

[2018-03-20 12:38] MarcusSpecht commented on #389
@LeoHere yes i tested this without modifications. The update nuget problem seems to be a nuget bug. But  the mscorlib problem has most probably something to do with nuget dependencies and target support I guess? My local VS just uses mscorlib 4.0.0.0 and everything works fine but appcenter seems to be more strict here and exits build with an error.

[2018-03-20 14:44] MarcusSpecht commented on #389
I found this answer to the problem

here: https://developercommunity.visualstudio.com/content/problem/121536/mscorlib-version-conflict-android.html

[2018-03-20 14:47] MarcusSpecht commented on #389
There is also a Xamarin bug report regarding the "outdated" mscorlib dependency:
https://bugzilla.xamarin.com/show_bug.cgi?id=60351

[2018-03-20 14:57] MarcusSpecht commented on #389
Seems like this is also related to Xaml Compilation
https://github.com/xamarin/Xamarin.Forms/issues/1958

[2018-03-20 15:44] MarcusSpecht commented on #389
If I disable xamlc in the .netstandard 2.0 project VS does not report the error.
[code]
Sadly appcenter build still does exit with an error. I checked the Mono.Android.dll that is referenced in 8.1 myself and it does have mscorlib 2.0.0.0 dependency.

[2018-03-20 15:55] MarcusSpecht commented on #389
So this should be fixed with xamarin forms 3.0.
https://github.com/xamarin/Xamarin.Forms/pull/1899

Xamarin Forms released 3.0.0 Pre Release 2 yesterday and it lists
[code]
I'll try it out when the nuget package arrives and report back if this solves the issue.

[2018-03-20 16:54] MarcusSpecht commented on #389
I managed to update to xamarin.forms 3.0.0 Pre Release 2. Local build with VS now works without error and XamlCompilation enabled. Sadly appcenter build still throws the same error.  I guess there needs to be a fix within MonoAndroid and appcenter needs to update to such a future MonoAndroid or something similar.

[2018-03-20 21:04] jpbrocca commented on #377
Hi @kberawala, how are you?

If you use `<artina:Button>` and Grial latest packages, you should see them better.
Please check our release notes for more details:
http://uxdivers.github.io/Grial-UI-Kit-Support/release-notes.html

Xamarin recently released Xamarin Forms 3.0 pre2 which fixes the linked issue.

Best,
JP

[2018-03-21 06:18] samnaseri opened #390 "Property FontSize is set more than once"
Hi,

I have looked into your SignUpPage.xaml from the downloaded solution and noticed that it has defined FontSize property on some elements more than once (actually this is what Resharper complains about)

This is an example:
`
					<Label LineBreakMode="WordWrap" Text="{ artina:Translate LabelRegisterNowAndEnjoy }" TextColor="{ DynamicResource OverImageTextColor }" VerticalTextAlignment="Center"

[2018-03-21 06:22] samnaseri opened #391 "Apostrophe in app name is not accepted in admin portal"
Our app name contains apostrophe(') in it. But when I try to set my app name in app portal it does not allow it. For the time being I just removed apostrophe from the name. But when we publish it to app store we need to name it correctly. Am I doing something wrong or is this an issue within admin portal?

[2018-03-21 12:51] szaid07 opened #392 "visual studio is crashing when running the grial solution."
Visual studio crashing with fatal error only when running grial solution.

[2018-03-21 16:42] jpbrocca commented on #390
Hi @samnaseri, how are you?

You found a bug, this is simply a duplicated property which probably happened due to a merge on our end.

You can safely remove the `FontSize="36"` since the following block is the one setting properly the font size for phones and tablets:

[code]

Regards and thanks,
JP

[2018-03-21 16:50] jpbrocca commented on #392
Hi @szaid07,

can you please provide more info?

- Which Grial flavor are you using (standard, Pro, or Pro + RTL)?
- Which Grial version number are you using?
- Are you trying to run Grial Full sample or Grial Starter solutions?
- Which is your VS version number? Are you running it on a MAC or a Windows PC?

Your visual studio just closes when you attempt to run Grial?...or just Grial suddenly cra

[2018-03-21 22:49] LeoHere commented on #391
@samnaseri yes there is a limitation in the Grial Admin. We will fix that and let you know.

[2018-03-22 05:34] szaid07 commented on #392
I am using :
1-Grial Pro + RTL
2-version 2.6.0
3-Full Sample
4-Visual studio community on MAC

Visual studio is crashing when attempting to run grial.

Please help me here.
Thanks,
Zaid

[2018-03-22 05:38] samnaseri commented on #390
Thank JP.
There was also some extra } after some Binding expressions which you might want to fix too.

[2018-03-22 06:51] jpbrocca commented on #392
Hi @szaid07,

- Which is your VS version number?
- If you update Grial to latest version (2.6.9.0), do you get the same result?
- can you share your Visual Studio log?

Best
JP

[2018-03-22 11:26] MarcusSpecht commented on #389
Good news. Appcenter just updated their build VMs including the latest Mono.Android 8.2 and now the android app builds perfectly. I am still using xamarin.forms 3.0.0 Pre Release 2 meaning i did not test if it would also work with latest stable Xamarin.Forms 2.5.0.280555.

Do you test grial kit releases with appcenter build pipelines? If not you should because it is aweseome :D Should I try it wit

[2018-03-22 11:26] #389 closed

[2018-03-22 12:20] samnaseri opened #393 "Documentation for Master Details implementation"
I read through http://uxdivers.github.io/Grial-UI-Kit-Support/docs.html and it is not giving enough description as what is needed for implementing a master details page. I think you need to improve the documentation and Master Details is one area that definitely needs more explanation.

Which Xaml files and codes I need to refer to from the Full project?  What components are involved in a master d

[2018-03-22 17:17] Goldstrike opened #394 "Translucent/Transparent NavigationBar on a specific page"
Hello,

I would like to know if there is a way to implement a **translucent or transparent NavigationBar** on a specific page?

For exemple, if we based on your **Article** view, the actual display would be like this with a the default **"back" icon** and an additional **"Share" icon**:
[screenshot1](https://ibb.co/gjuicx)

I would like to get something like this, where the icons are displayed on

[2018-03-22 17:56] Goldstrike opened #395 "Use TabControl instead of MasterDetail page"
Hello,

I've seen that the latest version of your **TabControl** ("TabControlCustomSamplePage") looks fine.
However the content of each tab is directly assigned from the main page.

**_Is there a way to "split" the container (the TabControl page) and the content's pages?_**
This should permit to get a View/ViewModel per Tab, and to customize the NavigationBar for each View.

Regards,

[2018-03-22 23:09] LeoHere commented on #391
@samnaseri this should be fixed now. Please try again.

[2018-03-22 23:15] LeoHere commented on #389
@MarcusSpecht, excellent! Thanks for shearing. We do not use appcenter to test Grial Kit. It has been on our mental backlog for a while but we never actually do it. Looks it is time to reconsider this :)

[2018-03-23 09:30] toverux opened #396 "How to change the color of the Action Bar"
Hello,

I want to change the color of the Android action bar, which inherits the primary color by default, which is itself the accent color.

Multiple parameters in `Resources` seem to refer to the bar color. I tried various variations without success, and found things over the Net that didn't worked too.

Here are my `Resources/layout` and `Resources/values` files. They are coming from Grial Kit

[2018-03-23 17:54] jpbrocca commented on #394
Hi @Goldstrike, how have you been?

Grial doesn't provide that behavior out of the box.
You could get a similar outcome by using custom renderers but that will be a little bit hard for this particular case.

We provide the CustomNavBar for cases like this one.
 It will make things much easier and if you want you could also try to animate it similarly as in the `ArticleViewPage`.

Best,
JP

[2018-03-23 18:23] dirivero commented on #395
Hi,

It's not possible to include a page directly into the tabtiem content. You can use content views to have individual Xaml files for each tab content.
For a global navigation you can try with Xamarin's TabbedPage:
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/navigation/tabbed-page

Regards,
Diego

[2018-03-24 10:13] szaid07 opened #397 "How to change the background image and color of master detail page"
there is no view named with master detail page in the project
how to change the background image of it.
and the top logo also.

[2018-03-24 21:06] faceoffers28 commented on #336
@jpbrocca @LeoHere Can we get some upgrade procedures for moving to Grial 2.6.9.0? I looked all over the documentation and this support site. I could not find any upgrade procedures. Thanks!

[2018-03-24 21:10] faceoffers28 opened #398 "Determine version of GrialKit in use???"
I looked in the cs.proj files and I can not find any version information. I also looked in the online documentation and I don't see any information on this. Thanks!

[2018-03-25 14:35] LeoHere commented on #398
@faceoffers28 look for a attribute `UXDivers.Artina.Shared.GrialVersion` in the `AssemblyInfo.cs` file of the PCL/NET Standard project.

[2018-03-25 15:03] LeoHere commented on #336
@faceoffers28 If you need to upgrade from the 2.6 RC to the 2.6.9, just upgrade the nuget packages.

[2018-03-26 06:53] toverux commented on #396
Oh sh*t, I'm really sorry. It's the GitHub effect.

Ah this is closely related to the native component, I think it's more efficient to style it using the native styling methods. I'll try in XAML though. If it's ok, why not.

Expected (mockup):

<img width="270" alt="mockup" src="https://user-images.githubusercontent.com/1343250/37890946-bdfbaa04-30d2-11e8-97f1-141c2562d202.png">

Current :

<img w

[2018-03-26 07:14] toverux commented on #396
Tried the XAML approach. I didn't even see before that an implicit NavigationPage style was applied by Grial...

I can effectively control the color from there:

<img width="208" alt="xaml" src="https://user-images.githubusercontent.com/1343250/37891724-9c0eb334-30d5-11e8-9edc-b399a041b3d3.png">

But the Android back button is still white. Do you know how I can make it take the text color or bette

[2018-03-26 17:25] jpbrocca commented on #396
Hi @toverux, how are you?

Grial is based on Xamarin Forms, so the main purpose is to allow you easily change styling through XAML. Normally, with what we provide you should have like 95% covered, but, there are exceptions where you need to go directly to the platform.
The `NavigationPage` implicit style is the way to go.

Unless I am missing something here, all you will need is to provide the ico

[2018-03-26 17:35] jpbrocca commented on #397
Hi @szaid07,

There is a `RootPage.xaml` on Grial Full project which is a `MasterDetail` page.
I suggest to take a look a at Xamarin Forms docs about it:
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/navigation/master-detail-page

It is not a stylable page itself, but more a page that manages two pages (which can be individually styled).

If you want to style the backgrou

[2018-03-26 20:41] toverux commented on #396
Thanks for your answer.

Unfortunately, no. The thing is, I don't always have an icon and for now I'm only using `ToolbarItem.Text`. Just one will be replaced with an actual icon (the search toolbar item, the one you see in the mockup, maybe that's why you didn't understood me) but all the other ones will stay text-only.

Same with the back button. It is provided by Android here. It has an animati

[2018-03-26 21:56] jpbrocca commented on #396
To change the color of the Drawer arrow, you need to follow the following steps:

Open the Style file on your Android project:

[code]

Find the `AppTheme.DrawerArrowStyle` style and change color so it points to an specific color resource:

[code]

Add the color to your `Colors.xml` file also on Android project (in this case, I used a yellow color):
[code]

<img src="https://user-images.githubuser

[2018-03-27 05:41] khadeeja-alif opened #399 "artina:OnOrientation Issue"
I tried using artina:OnOrientation property for a ContentView in a page. When i am redirecting to other pages and coming back to the Page, The text in the contentview seems to be either missing or text orientation changes to vertical.
![image uploaded from ios 2](https://user-images.githubusercontent.com/14857549/37948821-8bf00ffe-31af-11e8-81ee-9a4c1c1738e1.jpg)
![image uploaded from ios 3](https

[2018-03-27 10:11] toverux commented on #396
Thanks a lot.

For the posterity, I've also been able to change the action bar items with this:

[code]

`StatesAccentColor.xml`:

[code]

I've lost the ripple effect on them though. I lack time to polish it but if I find a way to get it back I'll edit the post later.

<img width="403" alt="actionbar" src="https://user-images.githubusercontent.com/1343250/37961106-ae826d02-31b7-11e8-92fe-de1d93b34

[2018-03-27 10:11] #396 closed

[2018-03-27 10:29] josesimas opened #400 "Intercept the Navigation Back button"
Hi,

I need to validate a page before letting the user leave it by pressing Back. The problem is that if the user presses the Nav Bar arrow at the top I am not notified of this action. I tried the solution from this site:

https://theconfuzedsourcecode.wordpress.com/2017/03/12/lets-override-navigation-bar-back-button-click-in-xamarin-forms/

And it works fine on a simple project but it does not wo

[2018-03-27 13:56] josesimas commented on #400
Hi,

I wonder if the answer to this issue would be using your CustomTab example? Unfortunately I am using a TabbedPage and I cannot figure out how to make it work. Can anyone help?

[2018-03-27 15:04] faceoffers28 commented on #381
All of a sudden, it started working. :)

[2018-03-27 15:05] #381 closed

[2018-03-27 15:18] faceoffers28 commented on #336
@LeoHere Which packages are you referring to? Can you be more specific? Here is what I think you are referring to.

UXDivers.Artina.Shared 2.5.2
UXDivers.Artina.Shared.Base 2.5.2
UXDivers.Effects 0.6.0

As you can see here, there is nothing under Version and Options, so I can't upgrade. I'm running Visual Studio Enterprise 2015 Update 3.

![image](https://user-images.githubusercontent.com/10619627

[2018-03-27 15:29] jpbrocca commented on #400
Hi @josesimas,

We are reviewing this issue. So far we didn't find anything that could be causing this in Grial.

From your last comment it seems you are using our TabControl...is that correct?
You think this could be the issue?
Please provide as much info as possible so we could work faster.

Regards and thanks,
JP

[2018-03-27 15:55] dirivero commented on #400
HI @josesimas,
Can you send us the sample project where you have that working?

[2018-03-27 16:53] jpbrocca commented on #400
@josesimas,

could you send your project to:
![image](https://user-images.githubusercontent.com/15996999/37982168-2ced6d6e-31c6-11e8-9d3c-c3a84ea0f060.png)

Thanks!
JP

[2018-03-27 19:48] josesimas commented on #400
Hello both,

I am afraid I don't have enough free time to do a full repro at the moment. I implemented the back interception as described in the link above, both in a basic Xamarin Forms project (no Grial Kit) and on the project I am working on which is using the Grial Kit. It only works in the basic project, in our main project the OnOptionsItemSelected override in the main activity is never call

[2018-03-27 20:08] dirivero commented on #400
Do you have the basic project where the back is being intercepted according to the article? If you have it please send it to us so we can review what may be the difference.
Thanks

[2018-03-28 02:47] dejobo commented on #162
@LeoHere please help, I'm having the same issue. Thanks!

[2018-03-28 15:17] Goldstrike commented on #394
Hi @jpbrocca
Thanks for your feedback.
Do you have planned to update the Grial UI samples for the next version of Xamarin.Forms?

[2018-03-28 16:36] jpbrocca commented on #394
Hi @Goldstrike,
you are welcome!

You mean if we will update Grial to be compatible with Xamarin Forms 3.0?

Best,
JP

[2018-03-28 23:19] LeoHere commented on #336
@faceoffers28 you should update the following packages (in the 3 projects):

- `UXDivers.Artina.Shared` to `2.6.9`
- `UXDivers.Artina.Shared.Base` to `2.6.9`
- `UXDivers.Artina.Controls.Repeater` to `2.6.9` (if you have a PRO)
- `UXDivers.Artina.Controls.Tab` to `2.6.9` (if you have a PRO)
- `Xamarin.Forms` to `2.5.0.280555`

This is to migrate from `2.6-RC` to `2.6.9`. Are you using `2.6-RC`?

[2018-03-29 00:08] faceoffers28 commented on #398
Found it. Thanks!

[2018-03-29 00:08] #398 closed

[2018-03-29 00:11] faceoffers28 commented on #336
@LeoHere [assembly: UXDivers.Artina.Shared.GrialVersion("2.5.0.0")] Same update procedure??? Thanks!

[2018-03-29 07:26] Goldstrike commented on #394
@jpbrocca
Yes it's that!
And I also would like to know if there will be new "screens" that taken into account the new abilities given by Xamarin.Forms 3.0, as the Bottom TabbedPage on Android.

[2018-03-29 14:07] LeoHere commented on #336
@faceoffers28 by upgrading those packages you will be using the same version of the Shared packages and Xamarin Forms that 2.6.9 uses.

Grial 2.6 is .NET Standard based no PCL based as 2.5 is.

[2018-03-29 14:55] faceoffers28 commented on #336
@LeoHere Interesting! I guess I will stay with 2.5, then. I will also need to learn more about the difference between .Net Standard and PCL. Both of my Xamarin apps are currently supported by a PCL-based SDK that interfaces with my API.

[2018-03-29 16:40] jpbrocca commented on #394
Hi @Goldstrike,

Yes, we will update Grial to be compatible with Xamarin Forms 3.0.

About the new screens, that will depend on how stable are things on their release :)
Normally we don't add new screens when we do this kind of updates, but we need to see how things go, and if that makes sense I see no reason why not doing so.

Best,
JP

[2018-04-02 11:16] josesimas opened #401 "TabControl's TabItem loaded event"
Hello,

I have a TabControl with a number of TabItems and one of them hosts a Mapsui control. The mapping control can only navigate after it knows its size. The TabSelected event and the SelectedIndex property are both raised before the tab item is drawn (at least that is what it looks like). I wonder if there is a way to be notified after the TabItem has been loaded and drawn?

Thanks,
Jose

[2018-04-02 16:21] dirivero commented on #401
Hi,

You can try subscribing to the PropertyChanged of the TabItem content (the single child of the TabItem). For instance, Render, Width, Height, Opacity properties should be called and you can hook to them.

Hope it helps.
Regards,
Diego

[2018-04-03 07:29] josesimas commented on #401
Hi Diego,

Thanks. I like the TabControl in that it lazy loads the tabs. I will have a go at your suggestions. Please consider adding some kind of TabLoaded event (or eager loading per tab) in the future.

Thanks,
Jose

[2018-04-03 07:29] #401 closed

[2018-04-06 17:56] velikocakk opened #402 "Error MT2002: Failed to resolve ""
I am using the Simulators without any problem. When I try to deploy the application on iPhone I get the error message. Could you please help me to fix this issue.

By the way, when I use same bundle Id in another blank project without your UI kit, it works.

Error MT2002: Failed to resolve "System.Void ObjCRuntime.BindingImplAttribute::.ctor(ObjCRuntime.BindingImplOptions)" reference from "Xamarin

[2018-04-06 18:03] velikocakk opened #403 "Error: java.lang.IllegalArgumentException: already added"
When I try to deploy my application on Android Simulator I am getting this error message. Same Application is working on iPhone simulator but It is not running on iPhone.

/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(3,3): Error: java.lang.IllegalArgumentException: already added :  Lcom/airbnb/lottie/BuildConfig; (StonebaseApp.Droid)

[2018-04-08 07:27] szaid07 opened #404 "Getting ui issue in walkthrough pages."
On walkthrough page i am getting same page as multiple times
I have attached the image also check once and please help me here.

Thank you,

![simulator screen shot - iphone x - 2018-04-08 at 11 27 15](https://user-images.githubusercontent.com/36671738/38464489-d11796aa-3b1f-11e8-97ac-fbd5ca186185.png)

[WalkthroughFlatPage.xaml.zip](https://github.com/UXDivers/Grial-UI-Kit-Support/files/1887133/W

[2018-04-08 14:28] jpbrocca commented on #404
Hi @szaid07,

It seems actually the image is being repeated, not the pages.
Looking at your `WalkthroughFlatStepItemTemplate` it seems you hardcoded the `BackroundImage` and you commented the part that makes the image to take the full height.and width which will avoid repetition.

NOTE: please do not attach Grial source files here. This is a public site.

Regards and thanks
JP

[2018-04-09 00:52] jpbrocca commented on #404
Hi @szaid07,

Please send an email to:
hello@uxdivers.com

With:
- your Grial purchase order number
- email and name on that order

Please attach your page, template and image.

Best
JP

[2018-04-10 07:43] kikutano opened #405 "Building time on Android is so slow!"
Hello, we are using Grial without any problems on our Apps on iOS and Android, but, there are two issue with Grial. First, the compile time it's insane on Android, it takes **_almost 3 minutes_** to build even if I don't change the code. No matter if the project is complex or simple. So, there is a way to reduce the building time with Grial? Maybe by eliminating some useless package for my project

[2018-04-10 16:37] LeoHere commented on #402
@velikocakk are you deploying the app to the phone in Release mode or Debug mode? What linking mode are you using?

Did you successfully deploy other apps to your phone?

[2018-04-10 23:53] msl2000 opened #406 "Message being cut off"
Hi, for some odd reason, some long messages (not all) gets cut off when being displayed in the chat list.

as shown below.

![image](https://user-images.githubusercontent.com/18165861/38589424-36d2b2f4-3d6e-11e8-83e5-a4e33ce530ce.png)

[2018-04-11 00:07] camelCaseD opened #407 "TabControl TabItems dynamically add and remove tabs"
Is it possible to add/remove a tab from a tab control after the page for it has been rendered? As I have a situation in which some tabs are only suppose to be visible based on a boolean property in my view model. I have tried to use the `IsEnabled IsVisible` properties on a TabItem but apparently it does not look at those as nothing happens when they are set to false. Also a property on TabControl

[2018-04-11 09:55] nsy738 commented on #388
Hi.
Problem solved.
it is my problem.

[2018-04-11 09:55] #388 closed

[2018-04-11 09:59] linwailoong opened #408 "Error Restoring Nuget"
Access to the URL given through web browser works.

503 (Service Unavailable)
  GET http://nuget.uxdivers.com/grial/FindPackagesById()?id='UXDivers.Artina.Controls.Repeater'
  GET https://api.nuget.org/v3-flatcontainer/uxdivers.artina.controls.repeater/index.json
  NotFound https://api.nuget.org/v3-flatcontainer/uxdivers.artina.controls.repeater/index.json 259ms
  OK http://nuget.uxdivers.com/gria

[2018-04-11 10:35] linwailoong commented on #408
Sorry. Due to connection issue.

[2018-04-11 10:35] #408 closed

[2018-04-11 11:55] szaid07 opened #409 "How to bind artina:Translate and json data to same label"
I am trying to bind the artina: translate and json text on a single label but I can't so I used to two labels in stack layout but because of this rtl mirroring is not working properly.

`<StackLayout Orientation="Horizontal" HorizontalOptions="Fill">
                                            <Label Text="{artina:Translate Centername}"  TextColor="#D28A4C" FontAttributes="Bold" FontSize="Medium"

[2018-04-11 11:58] jpbrocca commented on #406
Hi @msl2000,

That is weird, looking at the sample app it seems messages properly grow in height.

Did you changed anything from the original sample?

Check if your `ListView` has the property `HasUnevenRows` set to `true`.

Best
JP

[2018-04-11 12:05] jpbrocca commented on #409
Hi @szaid07,

You cannot use a single `Label` to show two bindings.
You should somehowconcatenate both values and pass it to the label as a single binding.

Your StackLayout needs to be explicitly told to behave with the RTL mechanism, otherwise it won't mirror your layout.
Check the docs about how to make it RTL enabled:
http://uxdivers.github.io/Grial-UI-Kit-Support/rtl-page.html

Best
JP

[2018-04-11 12:05] #409 closed

[2018-04-11 12:14] szaid07 commented on #409
Hi ,
Stack layout is RTL enabled but it's not working.

On Wed, 11 Apr 2018, 16:05 jpbrocca, <notifications@github.com> wrote:

[2018-04-12 00:53] msl2000 commented on #406
Hi JP

aside from adding a name to the listview, nothing. Here is another image with a long message and its fine here. The problem seems to happen randomly to some messages. Especially if the message just sort of exceeds 1 line

![image](https://user-images.githubusercontent.com/18165861/38650527-b7aa3d6c-3e3f-11e8-944d-b752213789bf.png)

[2018-04-13 00:41] msl2000 commented on #406
Hi @jpbrocca. Found the issue. Its mainly on the right chat side. When you have a sentence that just slightly exceeds one line, this issue occurs. If its a really long, the issue wont occur. Seems to be the boxview refusing to enlarge based on the text's length.

Fix I did was basically replacing boxview with a stacklayout instead and putting the message label inside like so.

[code]

[2018-04-14 21:26] augustohug opened #410 "Licence BundleIdentifier error"
I need to make the Exchange Builder Identifier of my application, and when I change (since I changed my account in the Apple Store), the above error occurs. How can I change the same in my licensing? That licensing issue does not seem very correct, since such things can happen.

[2018-04-15 05:42] samnaseri commented on #391
Thank you. It is fixed now!

[2018-04-15 05:42] #391 closed

[2018-04-15 05:42] #390 closed

[2018-04-15 11:57] samnaseri opened #411 "How to add animation and sound to splash screen?"
Hello there,

Thank you for your great product. It just made my life a lot easier. Now that the app is looking nice I am back to splash page once again. I want to show a Lottie animation in there and also play a sound.

I couldn't find any resources. And because I am mainly content with Xamarin Forms I am not sure how to make changes to splash screen to accomplish theses tasks.

I see that there i

[2018-04-16 00:39] msl2000 commented on #406
No, there was no tapping involved. The message just got cut off because the boxview didn't resize according to the label's text length.

[2018-04-16 08:27] Goldstrike commented on #395
Hi @dirivero
Finally I've used this approach:
- `TabbedPage`, with a CustomRenderer on Adroid to use it as `BottomNavigationView`
- `TabControl `embedded in a page of the TabbedPage when necessary, in "Top" mode

[2018-04-16 12:02] LeoHere commented on #410
@augustohug if you need to change the license you can do it through the [Grial Admin](https://uxdivers.com/secure/grial/front). Do the changes you need and download the license again.

[2018-04-16 14:28] mmakdessii opened #412 "HTTP client refuse connection on Grial Kit"
I'm running the following code on Grial template but it's not working. On the other hand, it's working on an empty project. These are all the relevant data with the API running.

//DATA SERVICE
    public class DataService
    {

        private string Url = "http://mystroapi.azurewebsites.net/api/Company/validatecompany";

        public async Task<CompanyModel> ValidateCompany(CompanyModel model

[2018-04-18 15:56] Oylex opened #413 "TabControl label alignment bug"
There is a bug with the TabControl / TabItem, when you navigate away and come back, the label is aligned to the left instead of the middle, I attached a gif:

![2018-04-18_11-37-51](https://user-images.githubusercontent.com/1819763/38942828-da33162a-42fd-11e8-951b-07e04983386a.gif)

By following the styles chain, the labels end up having these properties:

[code]

I can't see why it changes, it se

[2018-04-18 16:16] jpbrocca commented on #413
Hi @Oylex,

can you please let me know:

- Is this happening with a real device or an emulator or both? Which device model are you using to test?
- which version of Xamarin Forms are you using?
- which version of Grial are you using?

Regards and thanks,
JP

[2018-04-18 18:50] Oylex commented on #413
- I tested on my Galaxy S5 with Android 6.0.1 and it works, the problem occurs in my emulator which is a Nexus 5X running Android 8.0, I don't have access to a real device with a higher version than 6.0.1, so I can't tell if it's because of the emulator or the android version. It seems to work also on iPhone 8 iOS 11.3 emulator. I just tested on another emulator running Android 7.1 (Device: None,

[2018-04-19 10:02] Goldstrike opened #414 "Android: how to disable arrow/hamburger transition animations when using a custom icon?"
Hello,

I would like to use a "custom" icon instead of "hamburger" icon.

This is done easily on iOS, but on Android I need to use a custom renderer. By using your full sample, the renderer looks like this:

[code]

As you can see on this short [catpure](https://media.giphy.com/media/9uIvZLDWfr0xjAowYy/giphy.gif), the icon is well replaced.

However there 2 transition animations that I would like

[2018-04-19 10:14] CiaranC1 commented on #402
I am also having this problem, Android works fine but when I deploy in Debug mode on iPhone I get the same error

[2018-04-19 10:15] CiaranC1 commented on #402
I am using Link Framework SDKs only

[2018-04-19 10:15] CiaranC1 commented on #402
It seems to work fine in my original PCL but I recently moved it to a .NET standard project and now this error appears

[2018-04-19 17:18] LeoHere commented on #312
@hslatman did you replace the license both in iOS and Android? What kind of error are you getting in Android?

[2018-04-19 17:39] LeoHere commented on #402
@CiaranC1 can you reproduce the issue in the project you download from the Grial Admin (without any modification)?

[2018-04-19 18:04] hslatman commented on #312
[code]

The files are identical in iOS and Android; the diff is empty, same timestamp.

[2018-04-19 20:16] ImmenseIT opened #415 "App Name and Grial License"
A lot of app developers optimize their app names by using a combination of branded and common search terms to enhance discoverability. For example: If you create a photo editing app, it might be a good idea to use the words “photo editor” in the app name along with a branded name. Here are examples of a few apps that do this:

![image](https://user-images.githubusercontent.com/30938367/39015958-ca

[2018-04-20 07:34] hslatman commented on #312
The above happens in Debug; Release configuration is OK.

[2018-04-20 08:00] CiaranC1 commented on #402
It seems to work fine in the Grial Starter but when I add all my code in, it seems to break it

[2018-04-20 08:25] CiaranC1 commented on #402
It seems to be when I update all the packages that the error occurs

[2018-04-20 13:41] CiaranC1 commented on #402
Got it working, it was actually to do with Lottie, I had to downgrade to 2.1.5 to get it to work

[2018-04-20 17:18] LeoHere commented on #412
@mmakdessii not sure how this is related with Grial. Also not sure what you mean by it does not work. Please clarify.

[2018-04-20 20:14] RobertLynch opened #416 "FontAwesome fonts have disappeared on iOS"
I have been using Grial UI Kit for a Xamarin iOS project for about a year.  Two parts of the app use a variety of FontAwesome fonts.  Recently they stopped appearing when a release build of the app is installed on a phone.  Question marks show up instead.  The fonts still show up when creating a debug build.  Nothing relating to the font files or relevant declarations has been changed.

What has h

[2018-04-21 16:15] imzuhdi opened #417 "Can't restore the solution"
![error](https://user-images.githubusercontent.com/32406230/39086280-71d49b58-45b9-11e8-8605-18bd254050b0.JPG)
![ux](https://user-images.githubusercontent.com/32406230/39086293-931d7708-45b9-11e8-88c2-f2dbaa9a6c5b.JPG)

[2018-04-22 13:22] szaid07 opened #418 "AppResources file in not working"
AppResource file not converting the app language.
In XAML file I m using artina: translate then its working fine. But on .cs file, if I use AppResource.Property then it's not working.

[2018-04-22 22:30] HoekWax commented on #418
Well I just found out the solution.
I now have this getter
`public static ICultureService CultureService { get { return DependencyService.Get<ICultureServiceLocator>().Service; } }`
and the function from before, a little modified
`
        public static string GetStringFromKey(string key)
        {
            return AppResources.ResourceManager.GetString(key, CultureService.CurrentCulture);

[2018-04-23 11:05] LeoHere commented on #417
@imzuhdi If you are getting a 401 it mease the package source is correctly setup but the credentials are wrong.

Tip: On easy way to verify your credentials is visiting [http://nuget.uxdivers.com/grial](http://nuget.uxdivers.com/grial) in your browser.

[2018-04-23 13:20] uurcm16 opened #419 "GrialUI Fonts and styles does not show up on Gorilla Player."
Hi there.
I bought GrialUI Kit a few days ago and I've downloaded the Gorilla Ready samples.
On Gorilla Player, selected pages are shown but styles and icons are **not**. Even in Gorilla Configuration or Debug Configuration.

**LoginPage.xaml, SimpleLoginPage.xaml and CustomSettingsPage.xaml** screenshots added.

Is there anything that I miss?

**I'm using Visual Studio 2017 running on Windows 10

[2018-04-23 14:16] imzuhdi commented on #417
@LeoHere where i can setting the credentials in VS 2017 in windows?

[2018-04-23 17:25] LeoHere commented on #415
@ImmenseIT as you know once you move to production, we don't allow to change the app name any more. However, if for some reason you need to do some changes and you are in production mode, you can write us an email saying what change(s) you need to do and the reasons for it and we can help you.

[2018-04-23 17:34] LeoHere commented on #417
@imzuhdi it should ask you when you try to restore your packages.

You can also check issue #376.

[2018-04-24 11:28] jpbrocca commented on #419
Hi @uurcm16,

Can you please answer the following questions?

- are you using Gorilla SDK embedded in Grial, right?
- which is your gorilla player version?
- which is your xamarin forms version?
- which device are you testing with and which OS version it has?

Thanks
JP

[2018-04-24 11:34] uurcm16 commented on #419
Hi again.

1- Yes, I've downloaded Gorilla Ready solution. (I've tried Full and Starter solutions and the result is the same)
2- Gorilla Versions: Application: 1.2.0.6, Server: 1.2.0.6
3- If you are asking the Xamarin.Forms reference dll version, it is v2.5.0.280555
6- I'm testing on iPhone 6s 16Gb, Turkish Language, iOS 11.3

Best regards.

[2018-04-24 11:36] jpbrocca commented on #416
Hi @RobertLynch,

That is weird. If you didn't change anything in regards the font itself the only that comes to my mind is maybe something related to the xamarin forms package...did you make an update of it or something related?

Some related questions:
Which xamarin forms version are you using now?
Is this happening both android and iOS?
Are you using real devices and/or emulators?
Can you let m

[2018-04-24 11:43] jpbrocca commented on #419
Hi @uurcm16, thanks for the info.

That is weird. Specially if you get same results when you debug.

A couple more questions:

- is this a real device or an emulator?..can you try with another device and check if you get same results?
- can you try downloading from Grial Admin again? and also please check with the starter solution and let me know.

Regards and thanks
JP

[2018-04-24 11:47] uurcm16 commented on #419
@jpbrocca ,

1- It is a real device. I'll try with an Android device and let you know about the result.
2- I've downloaded 5 or 6 times each project (Starter and Full, Gorilla ready versions).

NuGet Package manager says that there are updates for some dlls. Should I update'em and try again?

[2018-04-24 11:53] jpbrocca commented on #419
@uurcm16 if those updates are grial related (artina*) then yes.

[2018-04-24 11:55] uurcm16 commented on #419
@jpbrocca  nope, all the updates are related with Xamarin and Json. :( I'm sick of trying to make it work. I'll let you know when the Android test is done.

[2018-04-24 12:07] jpbrocca commented on #414
Hi @Goldstrike, how are you?

Did you check on android project changing the following in `Resources / values / Style.xml` ?

[code]

Hope that helps!
Best
JP

[2018-04-24 13:41] Goldstrike commented on #414
Hi @jpbrocca.
As I'm based on your "full" sample, the following lines were already present:
[code]

[2018-04-24 13:55] jpbrocca commented on #414
Yes, what I mean is if you tried setting that to false 😀

[2018-04-24 14:58] Goldstrike commented on #414
I set spinBars to false, but this didn't change anything.
Does this work from your side?

[2018-04-24 16:56] dirivero commented on #407
Sadly that's not currently supported by the TabControl. It's a good idea though, I'll add it to the backlog for further analysis.

[2018-04-25 12:56] linwailoong opened #420 "Error with ObjCRuntime.BindingImplAttribute - Urgent"
Error Building IOS version and no issue on Android.
Failed to resolve "System.Void ObjCRuntime.BindingImplAttribute::.ctor(ObjCRuntime.BindingImplOptions)" reference from "Xamarin.iOS, Version=0.0.0.0, Culture=neutral, PublicKeyToken=84e04ff9cfb79065" (MT2002)

[2018-04-25 13:10] jpbrocca commented on #420
Hi @linwailoong,

Please check:
https://github.com/UXDivers/Grial-UI-Kit-Support/issues/402

This could be potentially caused by Lottie package if you updated it.
If that is the case, just downgrade to 2.1.5 and it should work.

Best,
JP

[2018-04-25 17:00] uurcm16 commented on #419
@jpbrocca I've done the test with Android. Gorilla Player keeps crashing https://vimeo.com/266536047

[2018-04-25 17:01] imzuhdi commented on #417
@LeoHere  thank you....
is grial support live player previewing with app from xamarin?
cause when i run in xamarin live player, got error "Cannot throw UXDriver.Artina.Shared.LisenceException on thread 1 (NInterpretException)"

![whatsapp image 2018-04-25 at 23 57 42](https://user-images.githubusercontent.com/32406230/39260901-ffc26cdc-48e4-11e8-836a-783a74b7a2e5.jpeg)

[2018-04-25 17:31] LeoHere commented on #417
@imzuhdi I can't say if the Xamarin Live Player support complex stuff as Grial because we use Gorilla Player as out main previewing tool in our XF projects.

Did you know you can download Grial preconfigured with Gorilla SDK? That allows you to start previewing Grial in Gorilla Player.

Please read [this](https://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-previewing-gri

[2018-04-25 17:42] LeoHere commented on #419
@uurcm16 you can't preview Grial with the standard Gorilla Player downloaded from the App Store or the Player solution installed along with Gorilla.

To preview Grial you need to deploy Gorilla using the solution configuration named **Gorilla**. Please take a look a [this](https://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-previewing-grial-with-gorilla-player) section o

[2018-04-26 08:27] uurcm16 commented on #419
@LeoHere Hi there.
I think it is working now. I've deployed under Gorilla config and it is working now.

[2018-04-26 08:27] #419 closed

[2018-04-26 09:12] hslatman commented on #312
That seems to have worked! Thank you @LeoHere!

[2018-04-26 10:46] kevinvella commented on #420
Hi @linwailoong,

As @jpbrocca said it's from lottie. It should work up to v2.5.1. I've had problems using the v2.5.2

Regards
Kevin

[2018-04-26 11:13] szaid07 opened #421 "How to add custom font with respect to language."
Hi,
I have added a custom font for English and its working very well
But for Arabic how should I use like when culture change font should change.

please help me here thank you in advance.

[2018-04-27 12:06] jpbrocca commented on #421
Hi @szaid07,

You need to add the Arabic font file to your platform projects, making sure you add the right build action, etc. as explained in Grial docs.

Then the easiest would be to set the Arabic font family in UI elements such Label, Button, etc. (implicit styles) in your RTL theme.

Best
JP

[2018-04-27 14:22] mgcmartin2 opened #422 "DashboardWithImages badge number disappeared after nuget update"
I am using DashBoardWithImages and i updated xamarin to version: 2.5.1.444934 from 2.4.0.282 and i have updated grial/uxdivers packages too but that dosent change anything. But when i see my DashBoard it only shows the green color and border from my badges and the number inside the badge is gone.

[2018-04-28 19:56] excellapay commented on #420
I am having the same issue. I set the Lottie package in iOS to 2.1.5 and still get the error.

[2018-04-29 08:35] kevinvella commented on #420
@excellapay Downgrade from all the projects

[2018-04-29 10:54] musab-alrmmah opened #423 "Refresh page when Change Language"
How to refresh page when change Language from RTL to LTR?
AND
How To change data from Binding data in  Label When the data comes from the server  ?
And
Where is there an event For Rtl Button?

[2018-04-30 02:25] KirkPatrickJunsay opened #424 "Type 'UXDivers.Artina.Shared.LicenseException' in Assembly 'UXDivers.Artina.Shared.Base, Version=2.5.2.0, Culture=neutral, PublicKeyToken=null' is not marked as serializable."
Hi I would like to ask support on the above encountered Crash report by App Center. The app is already deployed in the production environment. It's weird that other devices doesn't encounter this kind of crashes while some encounter.

Here are some additional info based on app center:

System.Runtime.Serialization.Formatters.Binary
WriteObjectInfo.InitSerialize (System.Object obj, System.Runtime.S

[2018-04-30 13:28] excellapay commented on #420
I altered my Packages file in IOS and I still cannot production build to IOS.  Simulator works fine. Here is what I have for my versions:

<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Com.Airbnb.iOS.Lottie" version="2.1.5.0" targetFramework="xamarinios10" />
  <package id="Com.Airbnb.Xamarin.Forms.Lottie" version="2.4.0" targetFramework="xamarinios10" />
  <package id="Microsof

[2018-04-30 14:37] Goldstrike opened #425 "Migration of Grial project?"
Hello,

We have purchased a Grial license on Jul 18, 2017. So we started to develop our app from the current version: I think that it was the v.2.0.60. We've already updated Xamarin.Forms packages to v.2.4.0.282.

I would like to know is there is a way to "migrate" our app to the latest version of Grial? (v.2.6.9.0)

[2018-04-30 15:11] kevinvella commented on #420
In my iOS project
<img width="838" alt="screen shot 2018-04-30 at 17 09 43" src="https://user-images.githubusercontent.com/15779395/39434572-3e4c3ab6-4c99-11e8-93cd-aaa55869a528.png">

In the views project
<img width="608" alt="screen shot 2018-04-30 at 17 10 02" src="https://user-images.githubusercontent.com/15779395/39434603-55342efa-4c99-11e8-8303-0ece55c1e0c4.png">

Also delete any bin and obj

[2018-05-02 06:26] imzuhdi commented on #417
@LeoHere  thanks...

in grial can i use the android tab control style and ios tab control style in one page?

[2018-05-02 07:14] klaasel commented on #389
We had this problem on a Xamarin Native Droid project on the VSTS build server (Macincloud). Checking the "do not reference mscorlib.dll" in the Droid Project>General settings did the trick.

[2018-05-03 00:26] excellapay commented on #420
I downgrade and rebuilt. No luck. I did re-download the starter GrailUI Pro project. It compiles, but my project does not. They made some other NuGet changes.  Any idea if GrailUI will be back on track with the updates soon? For many months and updates, i was fine applying the new packages.

[2018-05-03 05:33] judsonabraham301 opened #426 "The Label breaking with character - in Redmi Note 4 device"
I'm trying to display a label in my Redmi not Device.I'm doing it in xamarin forms. But the word is breaking with - at the end. I want the whole word to be displayed in next line instead of breaking the word. For example

It should be:

But this is not shown in any other device rather than Redmi Note 4. I have tried all LineBreakMode properties but nothing helps. This is my code

` <Label  Grid.Ro

[2018-05-05 05:11] szaid07 commented on #421
I have 2 font styles one for Arabic and one for English how to set both?

[2018-05-08 21:36] Oylex opened #427 "EntryProperties.BorderWidth inconsistent between Android and iOS"
Hi,

I have a form with entries that have these styles:

[code]

On Android it looks perfect, but on iOS the BorderWidth looks quadrupled (see the screenshots)

**Android:**
![android](https://user-images.githubusercontent.com/1819763/39784110-515c65a2-52e5-11e8-9bfa-c905f93732f5.png)

**iOS:**
![ios](https://user-images.githubusercontent.com/1819763/39784102-4b607ce2-52e5-11e8-8095-518165b837c3.p

[2018-05-09 05:42] szaid07 opened #428 "App is crashing."
When changing the language to Arabic on the first launch it's giving "value was an invalid value for Column Parameter name: value"

[2018-05-10 09:52] musab-alrmmah opened #429 "GridOptionsView"
How TO Add Refresh Event to GridOptionsView?

[2018-05-11 10:39] nmadrane opened #430 "Compatibility with Plugin.FirebasePushNotification"
Hi,
When I try to install Plugin.FirebasePushNotification via Nuget Package on my project, I get a build error: this plugin needs Xamarin.Android.Support.v4 (>= 26.0.2). But it seems it is not compatible with grial because grial is using Xamarin.Android.Support.v4 25.4.0.2.

[2018-05-11 14:05] sgiuffrida opened #431 "Gorilla Player on Android crashes once started"
I've downloaded the Grial Starter - Gorilla Ready solution from Grial Admin; I've also downloaded last version of Gorilla Player (server) 1.2.0.6 for Windows and I've installed the same version on my tablet; the MyCoolCompanyApp works perfectly.
When I try to see WelcomeStarterPage View of Grial Starter - Gorilla Ready the Android Gorilla Player crashes.
You can find log files attached.
Thanks in

[2018-05-11 14:44] smhasan11 opened #432 "Using Custom Style causing error: *An unhandled exception occured.*"
I'm trying to implement Grial-UI into my existing project. But getting error.
I didn't made any change in `App.xml` for custom style (kept exactly as it is). `App.xml` declaration looks as follows:
[code]

I've used that style in below:
[code]
If I remove that `Style={StaticResource DashboardItemTemplateShape}` from the `Label`, it works fine; but using that style throws an exception:

Any clue wh

[2018-05-11 15:56] jpbrocca commented on #432
Hi @smhasan11,
Most probably you are missing some of the dependencies for that style:
`DashboardItemTemplateShape` uses `grialshapes.ttf` font to draw the icons.
[code]
Each icon in Grial can be referenced by using `GrialShapesFont.cs` helper, so you need to make also sure you had included the font file but also that helper in your project.

I suggest you follow the steps here:
http://uxdivers.git

[2018-05-11 15:59] jpbrocca commented on #428
Hi @szaid07,

it is very difficult to try to understand what could be going on with such little info :)

Can you please provide more details, such as:

- Xamarin Forms version
- Is this happening in iOS and Android or both?
- Which devices are you testing with?
- Do you get the same results by running a Grial Full project with your settings?

Any additional clue you could provide about what you ar

[2018-05-11 16:08] jpbrocca commented on #425
HI @Goldstrike,
sorry for the late reply, we were very busy with Build conference.

Basically, if you go to Grial Admin, you could set the version to 2.0.60, then download the Full project.
Then you change to latest version and download again.
Finally, you can do a Diff of both projects to check the changes.

Also, you can check the [release notes](http://uxdivers.github.io/Grial-UI-Kit-Support/re

[2018-05-11 16:14] jpbrocca commented on #431
Hi @sgiuffrida,

did you follow steps from this document?

http://uxdivers.github.io/Grial-UI-Kit-Support/#grial-uikit-overview-previewing-grial-with-gorilla-player

From your comments, it seems you are running Gorilla Player to preview but you need to run Gorilla SDK embedded in your app in order to preview complex stuff like all the custom renderers in Grial, etc. You can do that by clicking on

[2018-05-11 17:07] jpbrocca commented on #425
Hi @Goldstrike,
What I mean is that by doing the described process you will get an idea which stuff changed from your version to latest. This is something you will do aside from your project.

Then, after the diff, you will need to incorporate those changes into your project.
Unfortunately, there is no other way to do this than manually.

I was talking about the Full project because I was under th

[2018-05-11 17:11] Goldstrike commented on #425
@jpbrocca
I understand better nown thank you!
Do you already know when the next GrialKit version supporting XF3 will be available? ;-)

[2018-05-11 17:13] jpbrocca commented on #425
@Goldstrike,
you are welcome!

Nope, but I think it should be ready in the upcoming weeks.

[2018-05-12 08:43] szaid07 commented on #428
Xamarin form 2.5
on both
iPhone all simulators and for android mi 4

it's an issue with change language and RTL method.
My device is on Ltl and I am changing the language to Arabic which is Rtl because of this app is crashing with the error I mentioned above.
So please help me with this.

[2018-05-12 08:46] szaid07 commented on #430
Hi,
Just change your Android settings and install Oreo 8.1 it will work.

[2018-05-12 14:58] SanjeevKarki opened #433 "Error Reading License"
![img_12052018_202539_0](https://user-images.githubusercontent.com/19145050/39958604-dab934d4-5622-11e8-9c90-7dd58d2dec99.png)

Renewed and Downloaded a new license but there is an Error in Deployment of android app. Says Error Reading License.

[2018-05-12 15:28] LeoHere commented on #433
Please refer to the [license troubleshooting](https://uxdivers.github.io/Grial-UI-Kit-Support/docs.html#grial-uikit-overview-grial-first-run-troubleshooting-license-issues) section in the documentation which explains how to fix this issue.

[2018-05-12 21:13] jpbrocca commented on #428
Do you get the same results by running a Grial Full project with your settings?

[2018-05-13 04:49] szaid07 commented on #428
there is no option in grial project to change language on the first launch its giving problem with themes.

[2018-05-13 23:58] smhasan11 commented on #432
Hi @jpbrocca,
Thanks a lot for your reply. Those required folders (Helpers, Rex, Themes) were in place. But I was missing some steps in mentioned in that doc you've suggested. The error message which I was getting is quite vague. It could've more explicit message.
However, you've pointed me in right direction; may Almighty Allah rewards you and show you the right path too.

[2018-05-14 01:44] #432 closed

[2018-05-14 07:59] sgiuffrida commented on #431
Hi JP,
you're perfectly right. Now it's working with no problem at all.
Thank you very much.
Best Regards
Salvo

[2018-05-14 07:59] #431 closed

[2018-05-15 09:41] qaliwebguru opened #434 "DashboardMultipleTilesPage is not showing Variant Template"
I have added DashboardMultipleTilesPage in my project and its not showing variant template. Can you please help me what could be the possible fix is ?

![dashboardmultipletiles](https://user-images.githubusercontent.com/31895946/40049297-495a3aae-582c-11e8-9268-c996980796ea.jpg)

[2018-05-15 21:05] MarcusSpecht opened #435 "Xamarin.Forms macOS Support"
There exists basic Xamarin.Forms support for macOS.
[preview-bringing-macos-to-xamarin-forms](https://blog.xamarin.com/preview-bringing-macos-to-xamarin-forms/)

I am successfully using Grial-UI-Kit with UWP.
[https://github.com/UXDivers/Grial-UI-Kit-Support/issues/367](https://github.com/UXDivers/Grial-UI-Kit-Support/issues/367)

Thanks to @LeoHere

I was wondering if you have internally done the

[2018-05-16 09:43] qaliwebguru commented on #434
Fixed.

There was some issue with File. I have deleted DashboardVariantItemTemplate.xaml file from project and created a new one and pasted the content and it worked.

[2018-05-16 09:43] #434 closed

[2018-05-16 14:48] asoliman1984 opened #436 ".Net Standard & WCF Webservice"
After upgrading to Grial 2.6.x , we aren't able to add a connected webservice (WCF) to the project, I believe it's related to .Net standard, because the same web service used to work smoothly on 2.5.x version.
after adding the connected service this error message appears

after that i tried to get Reference.cs from PCL project for the same webservice and create it manually in the new 2.6.x project

[2018-05-16 23:34] attrib75 opened #437 "Invoking camera removes entire nav stack"
https://stackoverflow.com/questions/50278151/xamarin-forms-media-plugin-take-photo-return-to-screen-pops-to-root?noredirect=1#comment87776630_50278151

I'm using Xamarin 3.0.  Visual studio 15.7.  When I use the same camera invoking code in a non grial project the issue doesn't occur

[2018-05-17 07:27] imzuhdi opened #438 "How to combine Tab Control Android and Tab Control IOS in one content page?"
How to combine Tab Control Android and Tab Control IOS in one content page using TabControlAndroidResources and TabControlIOSResources ?

[2018-05-18 18:40] attrib75 commented on #437
Hi, This was solved.  I thought you should know that the cause was the way you were initially assigning the master detail page as new temporary empty pages, then calling Task.Delay(500), then assigning the master and detail pages for real.  When I removed this, the issue no longer exists.  You might want to think about changing your starter project code

[2018-05-20 06:52] szaid07 commented on #437
how did u solve it can you help me with this.

[2018-05-21 11:19] LeoHere commented on #435
@MarcusSpecht awesome!

So far we haven't tried running Grial on macOS.

[2018-05-21 11:30] LeoHere commented on #422
@mgcmartin2 If you are still experiencing this issue please consider downloading the latest version of Grial, get from it the `Badge.xaml`/ `Badge.xaml.cs` and replace those in your solution.

[2018-05-21 11:34] LeoHere commented on #424
@KirkPatrickJunsay the only reason I can think of for this to happen is that you have some devices running different versions of your app. One that has linking issues meanwhile other not. Did you fixed the issue?

[2018-05-21 11:38] LeoHere commented on #426
@judsonabraham301 this question does not seems to be related to Grial UI kit. I would recommend that you post it in the Xamarin Forms forum directly. Closing the issue. If I misunderstood, please clarify and feel free to open it again.

[2018-05-21 11:38] #426 closed

[2018-05-21 12:09] LeoHere commented on #438
@imzuhdi you might use the `OnPlatform` with `StaticResource` to set the style depending on the platform. I did't test it but it should work.

Alternatively you can have the iOS and Android styles in separate `ResourceDictionaries` and include one or the other at runtime depending on the platform you are.

Hope it helps.

[2018-05-22 09:43] szaid07 opened #439 "Launch image for iphone X"
How to set launch Image for iPhone X , as the image pixels are breaking anybody know how to fix it please help me.

[2018-05-29 14:11] adamscoggins opened #440 "Exception: Value cannot be null - Paremeter name: binding"
Hi,

I am using a shared project, not a PCL. After following the guide for adding Grial to an existing project, I have had the same issue twice. I'm not sure what I am missing. I have followed the guide step by step each time. https://github.com/UXDivers/Grial-UI-Kit-Support/blob/master/setup-grial-on-an-existing-project.md

After following the steps, I added WelcomeStarterPage.xaml & xaml.cs. It

[2018-05-30 09:26] mtnrbq opened #441 "Typo in website - should be Right to Left"
![typo](https://user-images.githubusercontent.com/3033309/40711715-3fcb1192-643f-11e8-870b-52fe3adcb6f8.png)

[2018-05-30 10:14] stavrianos commented on #313
Hi, Are you gonna fix that issue? I don't accept as a solution to use Gorilla Player.